.LeadershipRight{
  margin-left: 30px;
  width: 70%;
  padding: 20px;
  display:inline-block;
  box-sizing: border-box;
  float: right;
}

.LeadershipRight a{
  color: #00764E;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

.biographyPage .greenSectionHeader{
  margin-top: 0;
}

.biographyPage .LeadershipRight{
  padding-top: 0;
}

[title="Toggle fullscreen view"], [title="Show street map"], [title="Show satellite imagery"]{
  display: none;
}

.locLabel{
  width: 210px;
}

.locLabelInfo{
  padding: 15px;
  height: 100%;
  color: #9B9B9B;
  display: inline-block;
}

.locLabelInfo .DistrictName{
  padding-bottom: 10px;
  color:#231F20;
  font-size: 17.5px;
  font-weight: bold;
  line-height: 20px;
}

.leftSec{
  width: 617px;
  float: left;
  display: inline-block;
}

.rightSec{
  width: 303px;
  float: right;
  display: inline-block;
}

.SmallLeftSec{
  width: 460px;
  float: left;
  display: inline-block;
}

.MiddleSec{
  margin: 0 20px;
  width: 220px;
  display: inline-block;
}

.SmallRightSec{
  width: 220px;
  float: right;
  display: inline-block;
}

.locations{
  height: 400px;
  background-position: 50% 50%;
}

.location_bcgimage{
  width: 100%;
  height: 100%;
}

.OperationCards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

.FoundationSp{
  height: 4px;
}


@media only screen and (max-width: 1900px) {
  .locations{
    background-size: 1900px 900px!important;
    background-position: 50% 50%!important;
    overflow: hidden!important;
  }
}
@media only screen and (max-width: 991px) {
  .LeadershipRight{
    width: 60%;
  }
  .leftSec{
    width: 100%;
    display: block;
  }
  .rightSec{
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .FoundationSp{
    display: none;
  }
  .SmallLeftSec{
    width: 100%;
    display: block;
  }
}

@media only screen and (max-width: 940px) {


}

@media only screen and (max-width: 767px) {
  .LeadershipRight{
    margin: 0;
    width: 100%;
    display: block;
  }
}

@media only screen and (max-width: 599px) {
}
