.LeadershipRight{
  margin-left: 30px;
  width: 650px;
  height: 240px;
  padding: 20px;
  display:inline-block;
  box-sizing: border-box;
}

.locations .SContainer{
  padding-right: 10px!important;
}

.OperationCards{
  padding-right: 10px!important;
}

    .col-md-4{
      padding-left: 0;
    }

    .col-md-12, .col-sm-12, .col-xs-12{
      padding-left: 0;
    }

.StrategicPlanPage .row{
    margin-left: 0;
    margin-right: 0;
}

.LeadershipRight a{
  color: #00764E;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}


.leftSec{
  width: 617px;
  float: left;
  display: inline-block;
}

.rightSec{
  width: 303px;
  margin-left: 10px;
  display: inline-block;
}

.SmallLeftSec{
  width: 460px;
  float: left;
  display: inline-block;
}

.MiddleSec{
  margin: 0 20px;
  width: 220px;
  display: inline-block;
}

.SmallRightSec{
  width: 220px;
  float: right;
  display: inline-block;
}

.locations{
  height: 400px;
  background-position: 50% 50%;
}

.location_bcgimage{
  width: 100%;
  height: 100%;
}

.OperationCards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

.FoundationSp{
  height: 8px;
}

@media (min-width: 992px){
  .col-md-12 {
      padding-left: 0;
      padding-right: 10px;
      width: 100%;
  }
}

@media only screen and (max-width: 1900px) {
  .locations{
    background-size: 1900px 900px!important;
    background-position: 50% 50%!important;
    overflow: hidden!important;
  }
}
@media only screen and (max-width: 991px) {
  .locations .SContainer{
    padding-right: 15px!important;
  }
  .OperationCards{
    padding-right: 15px!important;
  }
  .LeadershipRight{
    width: 60%;
  }
  .leftSec{
    padding-right: 15px;
    width: 100%;
    display: block;
  }
  .rightSec{
    padding-right: 15px;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .FoundationSp{
    display: none;
  }
  .SmallLeftSec{
    width: 100%;
    display: block;
  }
}

@media only screen and (max-width: 940px) {




}

@media only screen and (max-width: 599px) {
  .LeadershipRight{
    margin: 0;
    width: 100%;
  }
}
