#headerContent {
  min-height: calc(100vh - 341px);
}

.SContainer{
  width: 940px;
  margin: 0 auto;
}


@media only screen and (max-width: 940px){
  .SContainer{
    width: auto;
  }
}

@media (min-width:0)and (max-width: 767px) {
  #headerContent {
    min-height: calc(100vh - 1063px);
  }
}

.container {
  max-width: 980px;
}
