.GBanner {
  background: linear-gradient(131deg, #064932 0%, #06583D 67%, #29725B 100%);
}

.ColorBanner{
  	height: 124px;
    color: #FFFFFF;
    background-color: #B3D234;
}

.ColorBannerTitle{
    margin-top: 25px;
  	font-size: 36px;
    font-weight: bold;
    letter-spacing: -1px;
}

.ColorBannerContent{
  	font-size: 17.5px;
}

.GTexture {
  height: 215px;
  background: url('../images/Darkgreen.png');
}

.BreadcrumbList {
  height: 53px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  background: url('../images/Darkgreen.png');
}

.BreadcrumbList .fa-angle-left{
  margin-right: 7px;
  color: #FFFFFF;
  display: none;
}

.BreadcrumbList>container {
  padding-left: 0;
}

.BreadcrumbHeaderTitleSection {
  padding-bottom: 13px;
  /* padding-top: 13px; */
  /* height: 95px; */
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -1px;
  /* padding-top: 13px; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url('../images/Darkgreen.png');
}

.BreadcrumbHeaderTitleSectionNoBg {
  min-height: 90px;
  color: #015949;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1px;
  background: white;
  padding-top: 15px;
}

.GBannerTitle {
  margin: 0 auto;
  width: 750px;
  padding-top: 60px;
  color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 33px;
  text-align: center;
}

.GBannerContent {
  width: 750px;
  margin: 0 auto;
  padding-top: 25px;
  color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 23px;
  text-align: center;
}

@media only screen and (max-width: 940px) {
  .GBannerTitle {
    width: auto;
    padding-top: 5%;
    font-size: 40px;
  }
  .GBannerContent {
    padding: 25px 3%;
    width: auto;
  }
}

@media (min-width:0)and (max-width: 767px) {
  .GBanner.MainPageBanner{
    max-height: 93px;
  }

  .GTexture{
    height: 93px!important;
  }

  .BreadcrumbHeaderTitleSection{
    font-size: 40px;  
  }

  .GBannerContent{
    display: none;
  }

  .BreadcrumbList .fa-angle-left{
    display: inline-block;
  }

  .breadcrumb>li+li:before, .breadcrumbSymbol{
    display: none;
  }

  .breadcrumbSymbol{
    padding: 0 3px 0 7px;
    color: #FFFFFF;
  }

  .PreviousPath{
    display: none!important;
  }
}

@media only screen and (max-width: 450px) {
  .GBannerTitle {
    padding-top: 8%;
    font-size: 36px;
  }
}
