/*card with title and body*/

.subSectioncardTB {
  min-height: 220px;
  min-width: 220px;
  background-color: #FFFFFF;
  border: 1px solid #7CC04B;
  padding: 15px;
  margin: 10px 0;
  cursor: pointer;
}

.NBsubSectioncardTB {
  min-height: 220px;
  min-width: 220px;
  background-color: #FFFFFF;
  padding: 15px;
  margin-top: 10px;
  margin-bottom:15px;
  cursor: pointer;
}


.NBsubSectioncardType {
  min-height: 90px;
  min-width: 300px;
  background-color: #FFFFFF;
  padding: 15px;
  margin: 10px 0;
  cursor: pointer;
}

.subSectioncardMFTB {
  min-height: 295px;
  min-width: 220px;
  background-color: #FFFFFF;
  border: 1px solid #7CC04B;
  padding: 15px;
  margin: 10px 0;
}

.cardTitle {
  min-height: 88px;
  min-width: 190px;
}

.cardTitleMF, .cardBodyMF, .cardDropdownMF, .cardDownloadMF {
  min-height: 38px;
  min-width: 190px;
}

.cardDropdownMF {
  margin-top: 25px;
}

.cardDownloadMF {
  color: #00764D;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
  line-height: 20px;
}

.cardTitleTextMF {
  color: #333;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: bold;
}

.cardBodyTextMF {
  color: #333;
  font-family: "Helvetica Neue";
  font-size: 14px;
}

.cardTitleText {
  color: #00764D;
  font-size: 17.5px;
  font-weight: bold;
}

.CardTitleTextEmptyBody{
  color: #00764D;
  font-size: 17.5px;
  font-weight: bold;
  padding-right:10px;
  padding-top:3px;
}

.cardBody {
  min-height: 72px;
  min-width: 186px;
}

.cardBodyText {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
}


/*hover*/

.subSectioncardTB:hover .cardTitleText, .subSectioncardTI:hover .cardTitleText, .subSectioncardT:hover .cardTitleText, .NBsubSectioncardTB:hover .cardTitleText {
  color: #7CC04B;
}


/*card with title and image*/

.subSectioncardTI {
  min-height: 220px;
  min-width: 220px;
  background-color: #FFFFFF;
  border: 1px solid #7CC04B;
  margin: 10px;
  cursor: pointer;
}


.NsubSectioncardTI{
  min-height: 338px;
  min-width: 250px;
  background-color: #FFFFFF;
  margin-top:5px;
  margin-bottom:15px;
  cursor: pointer;
}


.cardImage{
  min-height: 169px;
  min-width: 250px;
  overflow: hidden;
  object-fit: cover;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}


.cardImageBody{
  padding-left:19px;
  padding-right:23px;
  padding-bottom:18px;
  padding-top:8px;
}

.cardImageBodyText{
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
}

.subSectioncardTI .cardTitleText {
  padding: 15px;
  max-height: 70px;
  margin-top: 35px;
}

.cardImageTitle{
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
}


/*.cardImage {
  min-height: 65px;
  min-width: 190px;
  overflow: hidden;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}*/


/*card with title and image*/

.subSectioncardT {
  min-height: 90px;
  min-width: 220px;
  background-color: #FFFFFF;
  border: 1px solid #7CC04B;
  padding: 15px;
  margin-top: 30px;
  margin-bottom:15px;
  cursor: pointer;
}

.subSectioncardT .cardTitleText {
  max-height: 80px;
}

@media only screen and (max-width: 500px) {
  .NsubSectioncardTI{
    min-height: 250px;
    min-width: 250px;
    background-color: #FFFFFF;
    margin-top:5px;
    margin-bottom:15px;
    cursor: pointer;
  }

  .cardImage{
  min-height: 169px;
  min-width: 250px;
  overflow: hidden;
  object-fit: cover;
  background-repeat: repeat;
  background-position: center;
}


}