  .file-pdf-o-font-awesome {
    height: 20px;
    width: 18px;
    color: #7CC04B;
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 20px;
    padding-top: 18px;
    padding-right: 10px;
    float: right;
  }

  .cardTypeBody {
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
  }

  .NBsubSectioncardType {
    min-height: 90px;
    min-width: 300px;
    background-color: #FFFFFF;
    padding: 15px;
    cursor: pointer;
    margin: 10px 0;
  }

  .cardTypeBodyNoHeader{
    color: #333333;
    font-size: 16px;
    line-height: 24px;
  }

  .BsubSectioncardType {
    min-height: 90px;
    min-width: 300px;
    background-color: #FFFFFF;
    border: 1px solid #7CC04B;
    padding: 15px;
    cursor: pointer;
    margin: 10px;
    margin-left: 0px;
  }

  .NBsubSectioncardType:hover .cardTitleText, .BsubSectioncardType:hover .cardTitleText, .fullwidthcardtitle:hover {
    color: #7CC04B;
  }

  .cardTypeTitle {
    color: #00764D;
    font-size: 17.5px;
    font-weight: bold;
    line-height: 19px;
  }

  .FormRow .cardTitleTextHavingURL{
    padding-left: 0px;
  }

  .cardTypeCards {
    margin-top: 30px;
  }

  .breadcrumb {
    padding-left: 0;
    background-color: transparent;
  }

  .breadcrumb>li>a, .breadcrumb>li>a>a {
    color: white;
    font-weight: 400;
  }

  .breadcrumb>.active {
    color: white;
  }

  .fullwidthcardtitle {
    color: #00764D;
    font-size: 17.5px;
    font-weight: bold;
    line-height: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
  }

  .FormRow .patternLineGreen{
    margin-top: -40px;
  }

  .FormRow .fa-caret-right{
    font-size: 28px;
    position: relative;
    bottom: 20px;
    float: right;
  }

  .FormRow .cardTypeTitle{
    padding-right: 15px;
  }

  .FormRow .cardTitleText{
    padding-left: 10px;
  }

  .FormRow .file-pdf-o-font-awesome{
    color: #00764D;
    float: left;
  }

  .FormRow .fa-file-pdf-o:before{
    left: 9px;
    top: 22px;
  }
