.serviceRequestsContainer{
  margin-bottom: 50px;
}

.viewAllComplaints> .subSectionButton{
  width: 192px;
}

.RegistrationsContainer{
  padding: 0;
}

.getInvolvedCards> .col-md-3> .subSectioncardT{
  border: none;
  margin-left: 0;
  margin-right: 0;
}

.renderInvolvedCards> .SContainer{
  padding-top: 60px;
}

.contactUsLeft{
  display: inline-block;
}

.contactUsDetails> .contactUsRight{
  display: inline-block;
  float: right;
  /* padding-right: 200px; */
}

.emailCommissioner{
  display: inline-block;
}

/*Mobile View*/
@media only screen and (max-width: 499px) {

}
