

.loader:empty {
  width: 4em;
  height: 4em;
  margin: 60px auto;
  border: 0.5em solid #D8D8D8;
  border-left: 0.5em solid  #7CC04B;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.thankYoupatternLine {
  height: 10px;
  margin: 40px 0px 70px 0px;
  background: url('../images/Lightgreen.png');
}
.FormStepperNoEdit{
    padding-top: 10px;
  text-align: center;
}
.thankyoulable{
  color: #00764E;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
}

.alignCenter{
  text-align: center;
}

.thankyoubody{
  color: #333333;
  font-size: 16px;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 10px;
}

.filedropZoneinfo{
  padding-top: 70px;
}

.fileDropZoneHeader {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
  margin-top: 5px;
}

.fileDropZoneNote {
	color: #000000;
	font-size: 14px;
  margin-top: 4px;
  margin-bottom: 8px;

}

.fileDropzone{
	box-sizing: border-box;
  border-style: dashed;
  border-width: 1px;
  border-color: #979797;
	height: 226px;
	width: 100%;
	outline: 1px solid #d8d8d8;
	border-radius: 3px;
  outline-offset: 5px;
  outline-color: #f8f8f8;
	background-color: #FFFFFF;
}

.fileDropzone:hover{
	background-color: #F8FCF6;
  border-color: #7CC04B;
}
.fileDropzoneRej{
  box-sizing: border-box;
  border-style: dashed;
  border-width: 1px;
  border-color: #979797;
	height: 226px;
	width: 100%;
	outline: 1px solid #D80035;
	border-radius: 3px;
  outline-offset: 5px;
  outline-color: #f8f8f8;
	background-color: #FFFFFF;
}

.fileDropzoneAcpt{
  box-sizing: border-box;
  border-style: dashed;
  border-width: 1px;
  border-color: #7CC04B;
	height: 226px;
	width: 100%;
	outline: 1px solid #d8d8d8;

	border-radius: 3px;
  outline-offset: 5px;
  outline-color: #f8f8f8;
background-color: #F8FCF6;
}
.click-on-the-icon {
	color: #333333;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	text-align: center;
  margin-top: 5px;
}

.file-types {
	color: #898989;
	font-size: 14px;
	text-align: center;
  margin-top: 5px;
}

.FormFieldIncDec{
  padding-top: 6px;
}
.increment{
    background-image:  url('../images/plus-default.png');
  height: 24px;	width: 24px;
  margin-left: 8px;
  margin-top: 5px;
  float: left;
}

.headerStepper {
	margin-bottom: 5px;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.tableHeaderStepper {
	background-color: #F8F8F8;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  min-height: 36px;
  padding-top: 5px;
}


.decrement{
  background-image:  url('../images/minus-default.png');
  height: 24px;	width: 24px;
  float: left;
    margin-right: 8px;

  margin-top: 5px;
}

.FormStepper{
  height: 50px;
}
.incDecField{
	height: 36px;
	width: 40px !important;
	border: 1px solid #D8D8D8;
	border-radius: 3px;
	background-color: #FFFFFF;
  float: left;
  text-align: center;
}
.incDecFieldtext{
color: #262626;
font-size: 16px;
font-weight: bold;
padding-top: 5px;
min-height: 45px;
}

.incDecSubFieldtext{
  color: #262626;
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
  margin-left: 15px;
  min-height: 45px;
}


.contactformButton {
  height: 36px;
  width: 126px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 118, 77);
  border-radius: 0.188em;
  border: 0px;
  padding: 0.4em 1em;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 40px;
}

.formSectionHeader {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  margin-top: 40px;
}

.formSectionHeaderHairline {
  height: 2px;
  background-color: #7CC04B;
  margin-top: 5px;
  margin-bottom: 12px;
}

.FormField {
  margin-bottom: 12px;
}

/*.formSpace{
  height: 451px;
  display:inline-block;
}*/

.open>.dropdown-menu {
  display: block;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.formDropDownButtonText {
  font-size: 16px;
  height: 36px;
  background: transparent;
  box-shadow: none;
  width: 100%;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  text-align: left;
}

.formTextarea {
  min-height: 100px;
  max-height: 240px;
  width: 100%;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
}

.contactForm textarea {
  resize: none;
}

.contactForm input, .contactForm input.form-control {
  height: 36px;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  box-shadow: none;
  background-color: #FFFFFF;
}



.contactForm input:focus, .contactForm textarea:focus, .contactForm input.form-control:focus {
  outline: none !important;
  border: 1px solid #7CC04B;
}

/*.contactForm input:invalid {
  border: 1px solid #D80035;
}*/

.contactForm input:disabled {
  border: 1px solid #D8D8D8;
  border-radius: 3px;
  background-color: #F8F8F8;
}

.disabledContactForm input:disabled, .disabledContactForm fieldset:disabled .btn-default {
  border: 0px solid #D8D8D8;
  border-bottom: 1px solid #DFDFDF;
  border-radius: 0px;
  color: #333333;
  font-size: 16px;
  background-color: transparent;
}

.disabledContactForm input:disabled i {
  color: transparent;
}

.contactForm input[type=checkbox], .contactForm input[type=radio] {
  height: 20px;
  width: 20px;
  border: 1.2px solid #C4C9CD;
  border-radius: 3px;
  color: clear;
}

.contactForm fieldset label {
  color: grey;
  font-weight: 400;
  font-size: 16px;
  margin-left: 8px;
}

.contactForm fieldset input {
  width: 100%;
}

/*@supports (zoom:2) {
  input[type="radio"], input[type=checkbox] {
    zoom: 1.1;
  }
}

@supports not (zoom:2) {
  input[type="radio"], input[type=checkbox] {
    transform: scale(1.1);
  }
}*/

.FormMultiSelectTitle {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  margin-top: 8px;
  margin-bottom: 4px;
}
