.TitleCardBox{
  margin: 10px 5px;
  display: inline-block;
}

.BureausCards{
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ProfileCard{
  width: 220px;
  height: 317px;
}

.Profile{
  vertical-align: top;
  height: 152px;
  width: 152px;
  border-radius: 50%;
  display: inline-block;
}

.ProfileCardName{
  color: #00764D;
  font-size: 17.5px;
  font-weight: bold;
  text-align: center;
}

.ProfileCardDuty{
  color: #333333;
  font-size: 17.5px;
  text-align: center;
}

.CardTitle{
  padding: 25px 15px;
	color: #00764E;
  background-color: #FFFFFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17.5px;
	font-weight: bold;
	line-height: 19px;
  cursor: pointer;
}

.CardTitle:hover{
  color: #7CC04B;
}

.CardContent{
  padding: 15px;
	color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 940px) {
  .CardTitle, .TitleContentCard{
    width: 48% !important;
  }
  .CardContent{
    width: 100% !important;
  }
}
