.TitleCardBox{
  margin: 10px 5px;
  display: inline-block;
}

.BureausCards{
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.CardTitle{
  padding: 25px 15px;
	color: #00764E;
  background-color: #FFFFFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17.5px;
	font-weight: bold;
	line-height: 19px;
  cursor: pointer;
}

.CardTitle:hover{
  color: #7CC04B;
}

.CardContent{
  padding: 0 15px;
	color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 940px) {
  .CardTitle{
    width: 45%!important;
  }
}
