.listItemTag {
  height: 22px;
  color: rgb(155, 155, 155);
  font-family: "Helvetica Neue";
  font-size: 14px;
}

.PressReleaseTitle {
  color: rgb(0, 118, 77);
  font-size: 17.5px;
  font-weight: 800;
}

.PressReleaseTitle:hover {
  color: #7CC04B;
}

.eventBoro {
  color: #00764D;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.eventDate {
  color: #00764D;
  font-size: 24px;
  font-weight: bold;
  text-align: center;  
}

.eventhairline {
  height: 1px;
  margin-top: 30px;
  margin: 20px 0px;
}

@media (max-width: 667px) and (orientation:portrait) {
    .eventSection .col-xs-2 {
         width: 33.33%
    }

    .eventSection .col-xs-10 {
         width: 66.67%
    }
}