/*.carouselBoxShadow {
    position: absolute;
    width: 940px;
    height: 0px;
    right: 0;
}

.carouselParentBoxShadow {
    position: absolute;
    width: 940px;
    background: url(http://www1.nyc.gov/assets/home/images/modules/homepage-hero/bg-shadow.png) no-repeat center bottom;
    height: 40px;
    bottom: 60px;
    right: 0;
}*/

.fleetCarouselContainer{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 48px;
    padding-top: 48px;
    width: 940px;;
}

.carouselImg img{
  width: auto;
  height: 528px;
  max-height: 528px;
}

.fleetExplaination {
  background-color: white;
  text-align: left;
}

/*Mobile View*/
@media only screen and (max-width: 599px) {
  .fleetCarouselContainer {
      padding-left: 16px!important;
      padding-right: 16px!important;
      padding-bottom: 31px;
      padding-top: 20px;
      width: auto;
  }
}

/*TABLET VIEW !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (min-width: 500px) and (max-width: 959px) and (orientation: portrait){

  .fleetCarouselContainer{
      padding-bottom: 41px;
      padding-top: 28px;;
      width: 712px;
  }
}

/*PHONE LANDSCAPE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (min-width: 600px) and (max-width: 736px) and (orientation: landscape) {
  .fleetCarouselContainer {
      padding-left: 16px!important;
      padding-right: 16px!important;
      padding-bottom: 31px;
      padding-top: 20px;
      width: auto;
  }
}

/*BETWEEN DESKTOP AND TABLET*/
@media (min-width: 960px) and (max-width: 1284px) {
  .fleetCarouselContainer{
      width: 939px;
  }

  .fleetCarouselContainer{
      padding-bottom: 62px;
      padding-top: 41px;
      margin-left: auto;
      margin-right: auto;
  }
}
