/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  width:auto;
}

.list-group
{
    border-radius: 0px;
    box-shadow: none !important;
}

#body {
  /* Margin bottom by footer height */
  margin-bottom: 0;
}

#footer {
    /* bottom: 0; */
    /* position: absolute; */
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    background-color: #4A4A4A ;
    /*height: 341px;*/
    width: 100%;
    padding: 0 auto;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#container {
  display: block;
  margin: 0 auto!important;
  width:1300px;
}
.container .text-muted {
  margin: 0px 0;
}

#p{
  font-family: "oxygen";
  font-weight: 400;
  position: relative;
  left: 150px;
  color: white


}

#s{
  font-family: "oxygen";
  list-style-type:none;
   position: relative;
  left: 110px;
  color: #9B9B9B
}

#r{
  font-family: "oxygen";
  font-size: 12px;
   position: relative;
   left: 150px;
  color: lightgrey

}
/* unvisited link */
a:link {
text-decoration: none;
     color: #9B9B9B;
}

/* visited link */
a:visited {
     color: #9B9B9B;
}

/* mouse over link */
a:hover {
     color: none;
}

/* selected link */
a:active {
     color: #9B9B9B;
    text-decoration: none;
}


#a{
  text-decoration: none;
     color: white;
}

#columns {
    max-width:90%;
    columns: 3;
    min-width:100px;
     white-space: nowrap;
}



#ColumnSubElements{
  height: 20px;
  width: 246.17px;
  font-size: 16px;
  font-family: "oxygen";
  line-height: 20px;
  color: #9B9B9B;
  list-style-type:none;
  left: 110px;
  position: relative;
  margin: 9px 0;
  min-width:100px;
}

#ColumnHeadElements{
  height: 20px;
	width: 246.17px;
  color: #FFFFFF;
  font-family: "oxygen";
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  list-style-type:none;
   left: 110px;
   position: relative;
   min-width:100px;
}
.a{
text-decoration: none;
    color:white;
}
#y{
  position: relative;
  list-style-type:none;
  left: 110px;
  color: #9B9B9B;
  bottom:-22px;
   font-family: "oxygen";
}
#AppleStore{
  margin: -20px 0;
   left: 110px;
  position: relative;
  height: 43.92px;
  	width: 149px;

    border-radius: 5px;
    background-color: #000000;
  bottom:-5px;
}

#PlayStore{
    margin: -20px 0;
height: 43.92px;
width: 149px;

border-radius: 5px;
	background-color: #000000;
   left: 265px;
  position: relative;
  bottom: 16px;
}

#qw{
	height: 20px;
  width: 246.17px;
  color: #FFFFFF;
  font-family: "oxygen";
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  position:relative;
  top:34px;
  left:110px;
  list-style-type:none;
  }


#FacebookLink{
   left:-95px;
  bottom:-30px;
  position: relative;
  color: white;
  font-family: "oxygen";
	font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  height: 35.98px;
  width: 35.98px;
}
#TwitterLink{
   left:-85px;
  bottom:-30px;
  position: relative;
  color: white;
  font-family: "oxygen";
	font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  height: 35.98px;
  width: 35.98px;
}
#InstagramLink{
   left:-75px;
  bottom:-30px;
  position: relative;
  color: white;
  font-family: "oxygen";
	font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  height: 35.98px;
  width: 35.98px;
}

#mo{
  position:relative;
  bottom:30px;


  border: 1px solid #535353;
  background-color: grey;


}


#column{

column-gap: 100px;

}

#column3{
  float:right;
}

#text-nowrap {
    white-space: nowrap;
}

Link{
   white-space: nowrap;
}

#g{
  list-style-type:none;
}

#sd{
  	height: 30px;
  width: 200px;
   position: relative;
   top:20px;

}

#sdmm{
  	height: 30px;
  width: 200px;
   position: relative;
   top:5px;

}
.spaced-columns  {
  padding: 0px 35px;
  width: 350px;
  position: relative;
}

.sp{
  padding: -20px 0px;
}
#sdm{
  position: relative;
  margin-top: -60px;
  margin-left:50px;
}

.L{
  padding: 0 10px;
}

.nowrap {
  white-space: nowrap ;
}

.L1{

 padding: 0 18px;
}

.L2{
  padding:0 35px;
}

@media (min-width:1200px) and (max-width:1441px)
{
  #container {
    display: block;
    margin: 0 auto!important;
    width: 100%!important;
    padding-left: 0;
}
  html {
  position: relative;
  min-height: 100%;
  width:auto;
}

.list-group
{
    border-radius: 0px;
    box-shadow: none !important;
}

#body {
  /* Margin bottom by footer height */
  margin-bottom: 0;
}

#footer {
    /* bottom: 0; */
    /* position: absolute; */
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    background-color: #4A4A4A ;
    /*height: 341px;*/
    width: 100%;
    padding: 0 auto;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*#container {

 width: auto;
  padding: 0 15px;
  left: 700px;
}*/
.container .text-muted {
  margin: 0px 0;
}

#p{
  font-family: "oxygen";
  font-weight: 400;
  position: relative;
  left: 150px;
  color: white


}

#s{
  font-family: "oxygen";
  list-style-type:none;
   position: relative;
  left: 110px;
  color: #9B9B9B
}

#r{
  font-family: "oxygen";
  font-size: 12px;
   position: relative;
   left: 150px;
  color: lightgrey

}
/* unvisited link */
a:link {
text-decoration: none;
     color: #9B9B9B;
}

/* visited link */
a:visited {
     color: #9B9B9B;
}

/* mouse over link */
a:hover {
     color: none;
}

/* selected link */
a:active {
     color: #9B9B9B;
    text-decoration: none;
}


#a{
  text-decoration: none;
     color: white;
}

#columns {
    max-width:90%;
    columns: 3;
    min-width:100px;
     white-space: nowrap;
}



#ColumnSubElements{
  height: 20px;
  width: 246.17px;
  font-size: 16px;
  font-family: "oxygen";
  line-height: 20px;
  color: #9B9B9B;
  list-style-type:none;
  left: 110px;
  position: relative;
  margin: 9px 0;
  min-width:100px;
}

#ColumnHeadElements{
  height: 20px;
	width: 246.17px;
  color: #FFFFFF;
  font-family: "oxygen";
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  list-style-type:none;
   left: 110px;
   position: relative;
   min-width:100px;
}
.a{
text-decoration: none;
    color:white;
}
#y{
  position: relative;
  list-style-type:none;
  left: 110px;
  color: #9B9B9B;
  bottom:-22px;
   font-family: "oxygen";
}
#AppleStore{
  margin: -20px 0;
   left: 110px;
  position: relative;
  height: 43.92px;
  	width: 149px;

    border-radius: 5px;
    background-color: #000000;
  bottom:-5px;
}

#PlayStore{
    margin: -20px 0;
    height: 43.92px;
    width: 149px;
    border-radius: 5px;
    background-color: #000000;
    left: 267px;
    position: relative;
    bottom: 14px;
}

#qw{
	height: 20px;
  width: 246.17px;
  color: #FFFFFF;
  font-family: "oxygen";
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  position:relative;
  top:34px;
  left:110px;
  list-style-type:none;
  }


#FacebookLink{
   left:-95px;
  bottom:-30px;
  position: relative;
  color: white;
  font-family: "oxygen";
	font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  height: 35.98px;
  width: 35.98px;
}
#TwitterLink{
   left:-85px;
  bottom:-30px;
  position: relative;
  color: white;
  font-family: "oxygen";
	font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  height: 35.98px;
  width: 35.98px;
}
#InstagramLink{
   left:-75px;
  bottom:-30px;
  position: relative;
  color: white;
  font-family: "oxygen";
	font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  height: 35.98px;
  width: 35.98px;
}

#mo{
  position:relative;
    margin-top: 17px !important;


  border: 1px solid #535353;
  background-color: grey;


}


#column{

column-gap: 100px;

}

#column3{
  float:right;
}

#text-nowrap {
    white-space: nowrap;
}

Link{
   white-space: nowrap;
}

#g{
  list-style-type:none;
}

#sd{
  	height: 30px;
  width: 200px;
   position: relative;
   top:20px;

}

#sdmm{
  	height: 30px;
  width: 200px;
   position: relative;
   top:5px;

}
.spaced-columns  {
  padding: 0px 35px;
  width: 350px;
  position: relative;
}

.sp{
  padding: -20px 0px;
}
#sdm{
  position: relative;
  margin-bottom: 30px;
  margin-left:47px!important;
}

.L{
  padding: 0 10px;
}

.nowrap {
  white-space: nowrap ;
}

.L1{

 padding: 0 18px;
}

.L2{
  padding:0 35px;
}

}

@media only screen and (min-width: 950px) and (max-width: 1200px){
.spaced-columns {
    padding: 0px 61px;
}
.col-md-push-7 {
    left: 55.333333%;
}
.col-md-5 {
    width: 45.666667%;
    right: 22%!important;
}
  .col-md-push-6 {
    left: 46%;
}
  #container{
    width: 100%;
    padding-left: 0;
  }
  #PlayStore{
    margin: -20px 0;
height: 43.92px;
width: 149px;

border-radius: 5px;
	background-color: #000000;
   left: 265px;
  position: relative;
  bottom: 17px;
}
.col-sm-pull-3 {
    right: 29%;
}
.col-sm-3 {
    width: 18%;
}
.large{
  display: none;
}
  .ipad{
       display: block;
  }

  .imo{
   padding: -50px 0;

  }

  .ims{
    margin-top: 92px;
  }

  .iss{
    top: -5px;
  }

#footer {
  /*position: fixed;*/
  bottom: 0;
  min-height: 375px;
  /* Set the fixed height of the footer here */
  background-color: #4A4A4A;
  width: 100%;
  padding: 0 auto;

}
  .space{
    margin-top: 10px;
    height:100px;
   width: 70px;
    margin-bottom: -200px;

  }
   #sdm{
    margin-top: -50px;
    margin-left: 41px;
}
.spaced-columns1{
    padding: 0px 61px;
}


}







@media only screen and (min-width: 1200px)
{

  .large{
    visibility: hidden;
    margin-bottom: -200px;
    display:none;
  }
  #mo{
    margin-top:30px;
  }

/*#PlayStore {
    margin: -20px 0;
    height: 43.92px;
    width: 149px;
    border-radius: 5px;
    background-color: #000000;
    left: 265px;
    position: relative;
    bottom: 14px;

}*/
#sdm {
    position: relative;
    margin-top: -43px;
    left: 100px;
      margin-bottom:20px;
}
.col-lg-push-6 {
    left: 55%;
}
.desktopFooterColumns{
  right:11%;
}
}

@media (min-width:0)and (max-width: 767px)
{
  #mobile{
    visibility: hidden;


  }

#footer {
 position:relative;

 overflow-x: hidden;
 /*overflow-y:auto;*/


  /* Set the fixed height of the footer here */
  background-color: #4A4A4A;

  height: 1063px;
  width: 100%;

}
#container {

  position: absolute;
  left: 10px;
  top: -24px;
  width: 100%;
  margin-left:16px!important;
  padding-left: 0;
}

#ColumnHeadElements{
  height: 20px;
	width: 246.17px;
  color: #FFFFFF;
  font-family: "oxygen";
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  list-style-type:none;
   left: -85px;
   position: relative;
   min-width:100px;
   bottom:250px;
}
#ColumnSubElements{
  height: 20px;
  width: 246.17px;
  font-size: 16px;
  font-family: "oxygen";
  line-height: 20px;
  color: #9B9B9B;
  list-style-type:none;
  left: -85px;
  position: relative;
  margin: 9px 0;
  min-width:100px;
  bottom:250px;
}


#res{
   margin-left: 35px;
   margin-top:55px;

}
#rvp{
  margin-top:-110px;
}

#r3{
   margin-top:-270px;
   margin-left:-195px;

}

#mob{
   margin-top:-200px;
   margin-left:-120px;
   position: absolute;


}

#mob1{
     margin-top:-80px;
   margin-left:-275px;
   position: absolute;

}


.ims{
    margin-top: 80px;
    bottom: -20px;
    width:100%;
  }

 .iss{
    top: 48px;
    margin-left: -315px;
    left: -55px;
  }

  #PlayStore{
    margin: -20px 0;
height: 43.92px;
width: 149px;

border-radius: 5px;
	background-color: #000000;
   left: 265px;
  position: relative;
  bottom: 17px;
  margin-top:0px;
}
#mo{
  margin-left: -26px;
  bottom: -20px;
}
.spaced-columns1{
  padding: 0px 35px;
}
}


@media (min-width:403px)and (max-width: 767px)
{

#rvp{
  margin-top:-90px;
}

}



@media only screen and (min-width: 768px) and (max-width: 950px)
{
  #PlayStore{
    margin: -20px 0;
height: 43.92px;
width: 149px;

border-radius: 5px;
	background-color: #000000;
   left: 265px;
  position: relative;
  bottom: 17px;
}
  #container {
    margin-left: -100px!important;
    width: 110%;
}
.ipad{
       visibility: hidden;
       display: none;
  }

  .imo{
   padding: -50px 0;

  }

  .ims{
    margin-top: 80px;
    bottom: -213px!important;
  }

  .iss{
    top: -5px;
  }

#footer {
  /*position: fixed;*/
  bottom: 0;

  /* Set the fixed height of the footer here */
  background-color: #4A4A4A;
  min-height: 497px;
  width: 100%;
  padding: 0 auto;
}
  .space{
    margin-top: 40px;
    height:100px;
   width: 70px;
    margin-bottom: -200px;

  }
   #sdm{
    left: 73px;
    margin-top: 217px;
}
#mo{
    margin-right: -23px;
}
.col-sm-3 {
    width: 22%;
}
.col-sm-push-3 {
    left: 0%;
}
.col-sm-push-4 {
    left: 8.333333%;
}
.spaced-columns {
    padding: 0px 61px;
    width: 350px;
    position: relative;
}
.spaced-columns1{
    padding: 0px 129px;
    width: 350px;
    position: relative;
}
.column1Space{
  left: -3%;
}
}


@media only screen and (min-width: 2165px)
{
  #PlayStore{
    margin: -20px 0;
height: 43.92px;
width: 149px;

border-radius: 5px;
	background-color: #000000;
   left: 265px;
  position: relative;
  bottom: 15px;
}
#mo{
  position:relative;
  bottom:30px;


  border: 1px solid #535353;
  background-color: grey;
}
  #sdm{
  position: relative;
  margin-left:48px;
  margin-bottom:20px;

}

}
