.FooterBox{
    max-width: 980px;
    padding: 0 20px;
    margin: 0 auto;
}

.FooterCol a, .FooterCol span{
    color: #FFFFFF;
}

.FooterCol a:hover{
    color: #B8E986;
    text-decoration: none;
}

.FooterCol{
    margin: 0 6% 0 0;
    vertical-align: top;
    width: 27.3%;
    display: inline-block;
}

.FooterSubt{
    margin: 14px auto 18px auto;
    color: #FFFFFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    /* cursor: pointer; */
}

.FooterRow{
    margin: 10px 0;
    color: #FFFFFF;
    font-family: "Helvetica Neue-bold", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.footer-resources{
  height:70px;
}


.FooterBoldRow{
    margin: 22px 0;
    color: #FFFFFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.FooterBtn{
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background-color: #EDEDEE;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.FooterBtn:hover {
    background-color: #DEDEDE;
}

#Footer .fa{
    margin: 0 2%;
    color: #FFFFFF;
    font-size: 21px;
    cursor: pointer;
}

#Footer .fa-apple,#Footer .fa-android{
    float: right;
}

#Footer .fa:hover{
  color: #B8E986;
}

.SpLine{
    margin: 8px 0;
    opacity: 0.5;
    background-color: #DFDFDF;
}

.NYCfooter-links{
    font-size: 16px;
    width: 76%;
    height: 90px;
    display: inline-block;
}

.NYCfooter-links a {
    height: 30px;
    width: 30%;
    color: #FFFFFF;
    display: block;
    font-weight: 700;
    float: left;
    margin-right: 2.13%;
    padding: 5px 0px;
    text-decoration: none;
}

.NYCfooter-links a:hover{
    color: #B8E986;
}

.SearchBlock{
  vertical-align: top;
  width: 23%;
  display: inline-block;
}

.copyright{
    margin-top: 5px;
    color: #FFFFFF;
    font-size: 10px;
}

.copyright p{
  margin: 0;
}

.copyright a{
  color: #FFFFFF;
  text-decoration: none;
}
.copyright a:hover{
  color: #B8E986;
}



#Footer {
  padding: 15px 0;
  height: 400px;
  background-color: #58585A;
}

#NYCFooter {
  height: 155px;
  padding: 35px 0 30px 0;
  background-color: #000000;
}

#SignupCol{
  margin: 0 auto;
  vertical-align: top;
  width: 32%;
}

#NYCFooterLogo{
    width: 93px;
    height: 31px;
    margin-right: 15px;
}

#SearchImg{
  position: relative;
  right: 15px;
}

@media only screen and (max-width: 980px) {
  .NYCfooter-links{
    width: 67%;
    margin-right: auto;
    height: 150px;
  }

  .FooterBox{
    width: auto;
  }

  .NYCfooter-links a {
    width: 47%;
  }

  #NYCFooter {
    padding: 15px 0;
    height: 185px;
  }

}

@media only screen and (max-width: 700px) {
  .FooterCol{
    margin: 0 auto;
    width: 90%;
    display: block;
  }
  #Footer {
    height: 950px;
    background-color: #58585A;
  }
  #SignupCol {
    margin: 0 auto;
    vertical-align: top;
    width: 90%;
  }
  .NYCfooter-links{
    margin: 25px 5%;
    width: 100%;
    display: block;
  }
  .NYCfooter-links a {
    width: 90%;
  }
  .SearchBlock{
    margin: 20px 5%;
    width: 90%;
  }
  #NYCFooter{
    height: 480px;
  }
}
