.serviceRequestParentTablet {
    display: none;
}
.carouselLeftPanel {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    float: left;
    list-style-type: none;
    padding-left: 0;
    width: 105px;
    background-color: #fff;
}
.carouselContainer {
    position: relative;
}
.carouselParentBoxShadow {
    position: absolute;
    width: 820px;
    background: url(http://www1.nyc.gov/assets/home/images/modules/homepage-hero/bg-shadow.png) no-repeat center bottom;
    height: 20px;
    bottom: 41px;
    right: 0;
}
.statusTitle {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #666;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    padding: 5px;
    background-color: #e5e5e5;
}

.programsList {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #666;
    font-family: inherit;
    text-align: center;
    font-size: 12px;
    padding: 0px 5px;
    background-color: #fff;
}

.statusProgram {
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

.detailsProgram {
    font-size: 12px;
}

.border-top {
    border-top: 1px solid #efefef;
    width: 80%;
    margin: 0 12%;
    float: left;
}

.panelData {
    padding-bottom: 6px;
    padding-top: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.dateCarouselPanel {
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    line-height: 34px;
    padding: 0 5px;
}

.programImage {
    padding-top: 13px;
    ;
}

.monthCarouselPanel {
    float: none;
    text-align: center;
    display: block;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: -1px;
    margin-top: -18px;
}

.panelButton,
.panelButton:active,
.panelButton:link,
.panelButton:visited {
    padding: 8px 25px 8px 12px;
    display: inline-block;
    margin-top: 16px;
    margin-right: 5px;
    margin-bottom: 33px;
    margin-left: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    padding: 10px 25px 10px 12px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-image: url(http://www1.nyc.gov/assets/home/images/global/link-arrow-white-withoffset13.png);
    background-position: right 45%;
    background-color: black;
    background-repeat: no-repeat;
    border: none;
}

/* .panelButton:hover {
    background-color: #096543;
} */

.searchContainerRidCollection {
    padding-top: 24px;
    width: 940px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 24px;
}

#TextureSquare {
    width: 461px;
    height: 142px;
    padding: 10px;
    background: url('../images/Lightgreen.png')
}

#eventsTextureSquare{
    width: 92px;
    height: 92px;
    padding: 10px;
    background: url('../images/Lightgreen.png')
}

#innersquare {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}
.ridOfSearch,
.actual-edit-overlay {
    padding-bottom: 0px;
    padding-right: 65px;
    line-height: 24px;
    padding-top: 5px;
    height: 33px;
    font-weight: 700;
    color: #000;
    font-size: 24px;
    border-top: none;
    margin-right: 8px;
    width: 420px;
    margin-top: 30px;
    margin-left: 13px;
    border-bottom: 2px solid #7CC04B;
    border-left: none;
    border-right: none;
    -webkit-text-fill-color: black !important;
}
/* .ridOfAutoCompleteParent{
    margin-left: 13px;
    margin-right: 8px;
    border-bottom: 2px solid #7CC04B;
} */
#ridSearch {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 42px;
    right: 34px;
    color: #7CC04B!important;
}

#collectionSearch {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 42px;
    right: 34px;
    color: #7CC04B!important;
}
input:focus::-webkit-input-placeholder{
    color: transparent!important;
}
.react-autosuggest__input--focused{
    background-color: red!important;
}
.exampleRidSearch {
    margin-top: 8px;
    margin-left: 14px;
    color: #9B9B9B;
    font-size: 15px;
    line-height: 17px;
}
/* input[type=text]:focus{
    -webkit-text-fill-color: white;
} */
input.ridOfSearch:focus {
    box-shadow: none !important;
    outline: 0 !important;
}
.searchRidParent {
    z-index: 10;
    padding-right: 8px;
}

.searchCollectionParent {
    z-index: 9;    
    padding-left: 8px;
}

.programContainerParent {
    /* z-index: 3; */
    background-color: #F2F2F2;
    height: 288px;
}
.programCol:hover{
    cursor: pointer;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08)
}
#programCol {
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06); */
    margin-right: 19px;
    width: 25%;
    width: 220px;
    height: 200px;
    background: white;
}

.programContainer {
    margin-left: auto;
    width: 1180px;
    margin-right: auto;
    padding-top: 44px;
}

.programImageDiv>img {
    height: 65px;
    width: 65px;
}

.programImageDiv {
    text-align: center;
    margin-top: 36.5px;
}

.programTitleDiv {
    text-align: center;
    color: #231F20;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 16.7px;
}
.programTitleDiv:hover {
    color: #7CC04B;    
}

.searchProgramBtnDiv>button {
    font-family: inherit;
    font-size: 13px;
    height: 36px;
    width: 126px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 118, 77);
    border-radius: 0.188em;
    border: 0px;
    padding: 0.4em 1em;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 0px;
}

.searchProgramBtnDiv,
.searchProgramBtnDivTablet {
    text-align: center;
}

.serviceRequestTitle {
    padding-left: 26px;
    color: #231F20;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    color: #231F20;
    padding-right: 26px;
    padding-top: 29px;
}

.serviceRequestInput,
.serviceRequestInputTablet {
    text-align: center;
}

.serviceRequestSearch {
    text-align: center;
    margin-top: 8px;
    height: 40px;
    border: 1px solid #EDEDEE;
    border-radius: 3px;
    width: 190px;
    color: #9B9B9B;
    ;
    background-repeat: no-repeat;
    background-position: right 13px center;
    border-radius: 3px;
    font-size: 12px;
}

input.serviceRequestSearch:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: 0 !important;
    border-color: #7CC04B !important;
}

.programMobileData {
    display: none;
}

.initiativesContainerParent {
    background: linear-gradient(111.47deg, #046848 0%, #01855D 100%);
}

.programInitiativesContainer {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 1180px!important;
}

#initiativesCol {
    padding: 0;
    color: white;
    height: 142px;
    border-left: 1px solid rgba(255, 255, 255, .5);
    width: 294px;
}

#initiativesColLast {
    padding: 0;
    color: white;
    height: 142px;
    border-left: 1px solid rgba(255, 255, 255, .5);
    border-right: 1px solid rgba(255, 255, 255, .5);
    width: 294px;
}

.initiativesHeaderDiv {
    font-size: 16px;
    font-weight: bold;
    line-height: 33px;
    text-align: center;
}

.initiativesNoHeaderDiv {
    height: 33px;
}

.initiativesTitleDiv {
    margin-bottom: 14px;
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
    text-align: center;
}
.initiativesTitleDiv:hover {
    cursor: pointer;
    color: #7CC04B;
}

.initiativesContentDiv {
    margin-top: 50px;
    font-size: 16px;
    font-weight: 300px;
    line-height: 20px;
    text-align: center;
}
.downloadAppTitle{
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 33px;
}
.downloadInfoPart1{
    width: 480px;
    padding-top: 22px;
    font-size: 17.5px;
    color: #333333 ;
    line-height: 21px;
}
.downloadInfoPart2{
    width: 480px;
    padding-top: 13px;
    font-size: 14px;
    color: #333333 ;
    line-height: 21px;
}
.downloadAppContainer{
    /* padding-left: 0px;
    padding-right: 0px; */
    padding-top: 56px;
}
.downloadAppContainerParent{
    height: 456px;
    background-color: #EDEDEE;
}
.appStoreIconDiv{
    padding-top: 53px;
}
.iosAppStoreSpan{
    margin-right: 7px;
}
.downloadAppIcon{
    padding-top: 18px;
    float: right;
}
.AppstoreIcon, .PlaystoreIcon{
    cursor: pointer;
}
.textSizeModalContainer{
    position: absolute;
    z-index: 50;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    height: 100%;
}
.textSizeModal{
    background-color: white;
    position: absolute;
    display: block;
    visibility: visible;
    top: 196px;
    left: 670px;
    position: absolute;
    width: 580px;
    height: 648px;
    z-index: 60;
}
.noexampleRidSearch{
    display: none; 
}
#collectionSearchResultsHome {
    cursor: pointer;
    position: absolute;
    top: 42px;
    right: 67px;
    color: #7CC04B!important;
    font-size: 24px;
}
#siteSearchResults {
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 32px;
    color: #767676!important;
    font-size: 16px;
}
.searchRidParent>div>div>div>div>.ridOfSearch{
    width: 96%;
}
.searchCollectionParent>div>div>.ridOfAutoCompleteParent>div>.ridOfSearch{
    width: 96%;
}
.howToGetRidOfParent>div>div>.BreadcrumbHeaderTitleSection{
    padding-bottom: 0;
}    
.moreEventsBtnDiv>a>.subSectionButton {
    margin-bottom: 20px;
    margin-bottom: 100px;
}
.moreNewsBtnDiv>a>.subSectionButton {
    margin-bottom: 30px;
}
/*MOBILE VIEW!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media only screen and (max-width: 599px) {
    #siteSearchResults {
        top: 34px;
        right: 47px;
        cursor: pointer;
        position: absolute;
        color: #767676!important;
        font-size: 17px;
    }
    #collectionSearchResultsHome {
        cursor: pointer;
        position: absolute;
        top: 33px;
        right: 72px;
        color: #7CC04B!important;
        font-size: 24px;
    }
    .carouselParentBoxShadow{
        display: none;
    }
    .carouselLeftPanel {
        display: none;
    }
    .searchContainerRidCollection {
        padding-top: 17px;
        padding-bottom: 17px;
        width: auto;
    }
    #TextureSquare {
        height: 130px;
        width: 100%;
    }
    .ridOfSearch,
    .actual-edit-overlay {
        padding-right: 65px;
        height: 29px;
        margin-top: 25px!important;
        font-size: 18px;
        width: 95%;
        margin-left: 9px;
    }
    .exampleRidSearch {
        margin-left: 10px;
    }
    .searchRow {
        margin: 0;
    }
    .searchCollectionParent {
        margin-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #ridSearch {
        right: 42px;
        top: 32px;
    }    
    #collectionSearch {
        right: 42px;
        top: 32px;
    }
    .serviceRequestTitleTablet {
        padding-left: 26px;
        color: #231F20;
        font-size: 17.5px;
        font-weight: bold;
        line-height: 22px;
        text-align: center;
        color: #231F20;
        padding-right: 26px;
        padding-top: 30px;
    }
    .serviceRequestSearchTablet {
        border-radius: 3px;
        padding-bottom: 11.2px;
        padding-left: 20px;
        border: 2px solid #EDEDEE;
        width: 100%;
        padding-top: 9px;
        margin-top: 19px;
    }
    .serviceRequestSearchTablet:focus {
        border-color: #7CC04B!important;
        box-shadow: none !important;
        outline: 0 !important;
    }
    .serviceRequestInputTablet>.subSectionButton {
        margin-left: 0px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .moreEventsBtnDiv>a>.subSectionButton {
        margin-bottom: 100px;
    }
    .moreNewsBtnDiv>a>.subSectionButton {
        margin-bottom: 30px;
    }
    .serviceRequestParentTablet {
        padding-left: 11px;
        padding-right: 11px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        border-radius: 3px;
        margin-bottom: 17px;
        background-color: white;
        display: block;
    }
    .programContainerParentTablet {
        height: 100%;
    }
    .programContainer {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 17px;
    }
    .programContainer>.row {
        display: none;
        margin-left: 0;
    }
    .serviceRequestCol {
        display: none;
    }
    #programCol {
        width: 166px;
        height: 165px;
        margin-right: 14px;
    }
    .searchRidParent {
        padding-left: 15px;
        padding-right: 15px;
    }

    .programImageDiv {
        margin-top: 20.6px;
    }
    .programTitleDiv {
        margin-top: 6.5px;
    }
    .programMobileData {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        display: block;
    }
    .programMobileImage {
        margin-top: 12.92px;
        float: right;
        height: 54.17px;
        width: auto;
    }
    .programMobileOuter {
        display: table;
        width: 100%;
        padding-left: 15px;
        padding-right: 14.92px;
        border-radius: 3px;
        margin-bottom: 17px;
        height: 80px;
        background-color: white;
    }
    .programMobileTitle {
        vertical-align: middle;
        color: #231F20;
        display: inline-block;
        width: 82%;
        font-size: 17px;
        font-weight: bold;
        line-height: 20px;
        display: table-cell;
    }
    #initiativesCol {
        padding-top: 18px;
        padding-bottom: 20px;
        color: white;
        height: 118px;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        border-right: 0px solid transparent;
        border-left: 0px solid transparent;
        width: 100%;
    }
    #initiativesColLast {
        padding-top: 18px;
        padding-bottom: 20px;
        padding: 0;
        color: white;
        height: 118px;
        border-right: 0px solid transparent;
        border-left: 0px solid transparent;
        width: 100%;
    }
    .programInitiativesContainer {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 0;
        margin-right: 0;
        width: 100%!important;
    }
    .programInitiativesContainer>.row {
        margin-left: 0;
        margin-right: 0;
    }
    .initiativesHeaderDiv {
        padding-top: 0px;
        font-size: 16px;
        font-weight: bold;
        line-height: 27px;
        text-align: start;
    }
    .initiativesNoHeaderDiv {
        height: 33px;
    }
    .initiativesTitleDiv {
        margin-bottom: 0px;
        font-size: 17.5px;
        font-weight: bold;
        line-height: 33px;
        text-align: start;
    }
    .initiativesContentDiv {
        margin-top: 3px;
        font-size: 16px;
        line-height: 20px;
        text-align: start;
    }
    .initiativesParentDiv {
        padding-left: 16px;
    }
    .downloadAppContainer{
        padding-left: 15px;
        padding-right: 15px;
    }
    .downloadAppContainerParent {
        height: auto;
    }
    .downloadInfoPart1, .downloadInfoPart2{
        width: 100%;
    }
    .downloadInfoPart1{
        padding-top: 15px;
    }
    .downloadAppTitle{
        font-size: 18px;
        font-weight: bold;
        line-height: 33px;
    }
    .downloadAppContainer{
        padding-top: 20px;
    }
    .appStoreIconDiv {
        padding-top: 30px;
    }
    .downloadAppCol1{
        padding-top: 19px;
    }
    .downloadAppIcon {
        width: 100%;
    }
    .PlaystoreIcon, .AppstoreIcon{
        width: 138px;
    }
    .moreNewsBtnDiv>a>.subSectionButton {
        margin-left: 0px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .moreEventsBtnDiv>a>.subSectionButton {
        margin-left: 0px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 100px;
    }
    .BreadcrumbHeaderTitleSection> .container{
        padding: 0;
    }
}


/*TABLET VIEW !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media (min-width: 500px) and (max-width: 959px) and (orientation: portrait){
    .carouselParentBoxShadow {
        left: 0px;
        position: absolute;
        width: 712px;
        background: url(http://www1.nyc.gov/assets/home/images/modules/homepage-hero/bg-shadow.png) no-repeat center bottom;
        height: 20px;
        bottom: 24px;
        right: 0px;
    }
    .carouselLeftPanel {
        display: none;
    }
    .searchContainerRidCollection {
        width: 712px;
    }
    #TextureSquare {
        width: 100%;
    }
    .ridOfSearch,
    .actual-edit-overlay {
        width: 663.88px;
    }
    .searchCollectionParent {
        margin-top: 10px;
    }
    #ridSearch {
        right: 41px;
    }
    #collectionSearch {
        right: 41px;
    }
    .serviceRequestTitleTablet {
        padding-left: 26px;
        color: #231F20;
        font-size: 17.5px;
        font-weight: bold;
        line-height: 22px;
        text-align: center;
        color: #231F20;
        padding-right: 26px;
        padding-top: 28px;
    }
    .serviceRequestSearchTablet {
        border-radius: 3px;
        padding-bottom: 11.2px;
        padding-left: 20px;
        border: 2px solid #EDEDEE;
        width: 520px;
        padding-top: 9px;
    }
    .serviceRequestSearchTablet:focus {
        border-color: #7CC04B!important;
        box-shadow: none !important;
        outline: 0 !important;
    }
    .serviceRequestInputTablet>.subSectionButton {
        margin-left: 20px;
        width: 126px;
        margin-top: 21px;
        margin-bottom: 37px;
    }
    .moreEventsBtnDiv>a>.subSectionButton {
        margin-bottom: 100px;
    }
    .moreNewsBtnDiv>a>.subSectionButton {
        margin-bottom: 30px;
    }
    .serviceRequestParentTablet {
        height: 147px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        border-radius: 3px;
        margin-bottom: 20px;
        background-color: white;
        display: block;
    }
    .programContainerParentTablet {
        height: 392px;
    }
    .programContainer {
        padding-top: 30px;
        width: 708px;
    }
    .programContainer>.row {
        /*margin-left: 0;*/
        /*width:100%;*/
    }
    .serviceRequestCol {
        display: none !important;
    }
    #programCol {
        /* width: 166px;
        height: 165px;
        margin-right: 14px; */
        width: 100%;
        height: 100%;
    }
    .programData {
        height: 165px;
        width: 25%;
        display: inline-block;
        padding: 0 8px;
    }
    .searchRidParent {
        padding-right: 8px;
    }
    .searchCollectionParent {
        padding-left: 8px;
    }
    .programImageDiv {
        margin-top: 20.6px;
    }
    .programTitleDiv {
        margin-top: 6.5px;
    }
    #initiativesCol {
        margin-top: 13px;
        padding-bottom: 19px;
        color: white;
        height: 118px;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        border-right: 0px solid transparent;
        border-left: 0px solid transparent;
        width: 100%;
    }
    #initiativesColLast {
        padding: 0;
        color: white;
        height: 118px;
        border-right: 0px solid transparent;
        border-left: 0px solid transparent;
        width: 100%;
    }
    .programInitiativesContainer {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 0;
        margin-right: 0;
        width: 100%!important;
    }
    .programInitiativesContainer>.row {
        margin-left: 0;
        margin-right: 0;
    }
    .initiativesHeaderDiv {
        padding-top: 0px;
        font-size: 16px;
        font-weight: bold;
        line-height: 33px;
        text-align: start;
    }
    .initiativesNoHeaderDiv {
        height: 33px;
    }
    .initiativesTitleDiv {
        margin-bottom: 14px;
        font-size: 24px;
        font-weight: bold;
        line-height: 33px;
        text-align: start;
    }
    .initiativesContentDiv {
        margin-top: 10px;
        font-size: 16px;
        line-height: 20px;
        text-align: start;
    }
    .initiativesParentDiv {
        padding-left: 36px;
    }
    .downloadInfoPart1{
        width: 301px;
    }
    .downloadInfoPart2{
        width: 301px;
    }
    .downloadAppContainerParent{
        height: 467px;
    }
    .downloadAppIcon{
        padding-top: 29px;
    }

}


/*PHONE LANDSCAPE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media (min-width: 600px) and (max-width: 736px) and (orientation: landscape) {
    #siteSearchResults {
        top: 34px;
    }        
    #collectionSearchResultsHome {
        cursor: pointer;
        position: absolute;
        top: 32px;
        right: 68px;
        color: #7CC04B!important;
        font-size: 24px;
    }
    .carouselParentBoxShadow{
        display: none;
    }
    .carouselLeftPanel {
        display: none;
    }
    .searchContainerRidCollection {
        width: auto;
    }
    #TextureSquare {
        height: 130px;
        width: 100%;
    }
    .ridOfSearch,
    .actual-edit-overlay {
        height: 29px;
        margin-top: 25px;
        font-size: 18px;
        width: calc(100% - 18px);        
        margin-left: 9px;
    }
    .exampleRidSearch {
        margin-left: 10px;
    }
    .searchRow {
        padding-left: 16px;
        padding-right: 16px;
    }
    .searchCollectionParent {
        margin-top: 15px;
    }
    #ridSearch {
        right: 36px;
        top: 32px;
    }
    #collectionSearch {
        right: 36px;
        top: 32px;
    }
    .serviceRequestTitleTablet {
        padding-left: 26px;
        color: #231F20;
        font-size: 17.5px;
        font-weight: bold;
        line-height: 22px;
        text-align: center;
        color: #231F20;
        padding-right: 26px;
        padding-top: 30px;
    }
    .serviceRequestSearchTablet {
        border-radius: 3px;
        padding-bottom: 11.2px;
        padding-left: 20px;
        border: 2px solid #EDEDEE;
        width: 100%;
        padding-top: 9px;
        margin-top: 19px;
    }
    .serviceRequestSearchTablet:focus {
        border-color: #7CC04B!important;
        box-shadow: none !important;
        outline: 0 !important;
    }
    .serviceRequestInputTablet>.subSectionButton {
        margin-left: 0px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .moreEventsBtnDiv>a>.subSectionButton {
        margin-bottom: 100px;
    }
    .moreNewsBtnDiv>a>.subSectionButton {
        margin-bottom: 30px;
    }
    .serviceRequestParentTablet {
        height: auto!important;
        padding-left: 11px;
        padding-right: 11px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        border-radius: 3px;
        margin-bottom: 17px;
        background-color: white;
        display: block;
    }
    .programContainerParentTablet {
        height: 100%;
    }
    .programContainer {
        width: 100%;
        padding-bottom: 17px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 17px;
    }
    .programContainer>.row {
        display: block;
        margin-left: 0;
        width: 100%;
    }
    .serviceRequestCol {
        display: none !important;
    }
    #programCol {
        /* width: 166px;
        height: 165px;
        margin-right: 14px; */
        width: 100%;
        height: 100%;
    }
    .programData {
        height: 165px;
        width: 25%;
        display: inline-block;
        padding: 0 8px;
    }
    /*.searchRidParent {
        padding-right: 15px;
    }*/
    /*.searchCollectionParent {

    }*/
    .programImageDiv {
        margin-top: 20.6px;
    }
    .programTitleDiv {
        margin-top: 6.5px;
        font-size: 14px;
    }
    .programMobileData {
        display: none;
    }
    #initiativesCol {
        margin-top: 0;
        padding-top: 18px;
        padding-bottom: 20px;
        color: white;
        height: 118px;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        border-right: 0px solid transparent;
        border-left: 0px solid transparent;
        width: 100%;
    }
    #initiativesColLast {
        margin-top: 0;
        padding-top: 18px;
        padding-bottom: 20px;
        padding: 0;
        color: white;
        height: 118px;
        border-right: 0px solid transparent;
        border-left: 0px solid transparent;
        width: 100%;
    }
    .programInitiativesContainer {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 0;
        margin-right: 0;
        width: 100%!important;
    }
    .programInitiativesContainer>.row {
        margin-left: 0;
        margin-right: 0;
    }
    .initiativesHeaderDiv {
        padding-top: 0px;
        font-size: 16px;
        font-weight: bold;
        line-height: 27px;
        text-align: start;
    }
    .initiativesNoHeaderDiv {
        height: 33px;
    }
    .initiativesTitleDiv {
        margin-bottom: 0px;
        font-size: 17.5px;
        font-weight: bold;
        line-height: 33px;
        text-align: start;
    }
    .initiativesContentDiv {
        margin-top: 3px;
        font-size: 16px;
        line-height: 20px;
        text-align: start;
    }
    .initiativesParentDiv {
        padding-left: 16px;
    }
    .downloadAppContainer{
        padding-left: 15px;
        padding-right: 15px;
    }
    .downloadAppContainerParent {
        height: auto;
    }
    .downloadInfoPart1, .downloadInfoPart2{
        width: 100%;
    }
    .downloadInfoPart1{
        padding-top: 15px;
    }
    .downloadAppTitle{
        font-size: 18px;
        font-weight: bold;
        line-height: 33px;
    }
    .downloadAppContainer{
        padding-top: 20px;
    }
    .appStoreIconDiv {
        padding-top: 30px;
    }
    .downloadAppCol1{
        padding-left: 0px;
        padding-right: 0px;
        width: 50%!important;
        padding-top: 19px;
    }
    .downloadAppCol{
        width: 50%!important;
    }
    .downloadAppIcon {
        width:100%;
        float: none;
        text-align: center;
    }
    .PlaystoreIcon, .AppstoreIcon{
        width: 138px;
    }
}


/*BETWEEN DESKTOP AND TABLET*/

@media (min-width: 960px) and (max-width: 1284px) {
    .carouselParentBoxShadow{
        bottom: 53px;
    }
    .carouselLeftPanel {
        display: block;
    }
    .searchRidParent {
        padding-right: 8px;
    }
    .searchCollectionParent {
        padding-left: 8px;
    }
    .programContainer {
        padding-top: 30px;
        width: 940px;
    }
    .programContainer>.row {
        /*margin-left: 0;*/
        /*width: 100%;*/
    }
    .serviceRequestCol {
        display: none !important;
    }
    #programCol {
        /* width: 166px;
        height: 165px;
        margin-right: 14px; */
        width: 100%;
        height: 100%;
    }
    .programData {
        height: 210px;
        width: 25%;
        display: inline-block;
        padding: 0 8px;
    }
    .serviceRequestTitleTablet {
        padding-left: 26px;
        color: #231F20;
        font-size: 17.5px;
        font-weight: bold;
        line-height: 22px;
        text-align: center;
        color: #231F20;
        padding-right: 26px;
        padding-top: 28px;
    }
    .serviceRequestSearchTablet {
        border-radius: 3px;
        padding-bottom: 11.2px;
        padding-left: 20px;
        border: 2px solid #EDEDEE;
        width: 755px;
        padding-top: 9px;
    }
    .serviceRequestSearchTablet:focus {
        border-color: #7CC04B!important;
        box-shadow: none !important;
        outline: 0 !important;
    }
    .serviceRequestInputTablet>.subSectionButton {
        margin-left: 20px;
        width: 126px;
        margin-top: 21px;
        margin-bottom: 37px;
    }
    .moreEventsBtnDiv>a>.subSectionButton {
        margin-bottom: 100px;
    }
    .moreNewsBtnDiv>a>.subSectionButton {
        margin-bottom: 30px;
    }
    .serviceRequestParentTablet {
        height: 147px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        border-radius: 3px;
        margin-bottom: 20px;
        background-color: white;
        display: block;
    }
    .initiativesContentDiv {
        padding-left: 21px;
        padding-right: 21px;
        margin-top: 0;
        ;
    }
    .programContainerParentTablet {
        height: 427px;
    }
    .programInitiativesContainer {
        padding-top: 40px;
        padding-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
        width: 936px!important;
    }
    .programInitiativesContainer>.row {
        margin-left: 0;
        margin-right: 0;
    }
    #initiativesColLast,
    #initiativesCol {
        width: 234px;
    }
    .initiativesTitleDiv {
        padding-top: 14px;
        min-height: 80px;
    }
}
/* New changes */
@media (min-width: 959px) and (max-width: 991px) {
    /* New changes */
    #TextureSquare{
        width:100%;
    }
    .ridOfSearch, .actual-edit-overlay{
        width: 98%;
    }
    .searchCollectionParent {
        margin-top: 11px;
    }
}
@media (min-width: 737px) and (max-width: 958px) {
    /* New changes */
    .downloadInfoPart1, .downloadInfoPart2{
        width: auto;
    }
    .downloadAppCol, .downloadAppCol1{
        width: 50%;
    }
    #TextureSquare{
        width:100%;
    }
    .ridOfSearch, .actual-edit-overlay{
        width: 98%;
    }
    .searchCollectionParent {
        margin-top: 11px;
    }
}