.serviceRequestParentTablet {
    display: none;
}

.carouselLeftPanel {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    float: left;
    list-style-type: none;
    padding-left: 0;
    width: 105px;
    background-color: #fff;
}

.statusTitle {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #666;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    padding: 5px;
    background-color: #e5e5e5;
}

.programsList {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #666;
    font-family: inherit;
    text-align: center;
    font-size: 12px;
    padding: 0px 5px;
    background-color: #fff;
}

.statusProgram {
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

.detailsProgram {
    font-size: 12px;
}

.border-top {
    border-top: 1px solid #efefef;
    width: 80%;
    margin: 0 12%;
    float: left;
}

.panelData {
    padding-bottom: 6px;
    padding-top: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.dateCarouselPanel {
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    line-height: 34px;
    padding: 0 5px;
}

.programImage {
    padding-top: 13px;
    ;
}

.monthCarouselPanel {
    float: none;
    text-align: center;
    display: block;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: -1px;
    margin-top: -18px;
}

.panelButton,
.panelButton:active,
.panelButton:link,
.panelButton:visited {
    padding: 8px 25px 8px 12px;
    display: inline-block;
    margin-top: 16px;
    margin-right: 5px;
    margin-bottom: 33px;
    margin-left: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    padding: 10px 25px 10px 12px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-image: url(http://www1.nyc.gov/assets/home/images/global/link-arrow-white-withoffset13.png);
    background-position: right 45%;
    background-color: black;
    background-repeat: no-repeat;
    border: none;
}

.panelButton:hover {
    background-color: #096543;
}

.searchContainerRidCollection {
    padding-top: 24px;
    width: 940px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 24px;
}

#TextureSquare {
    width: 461px;
    height: 142px;
    padding: 10px;
    background: url('../images/Lightgreen.png')
}

#eventsTextureSquare{
    width: 92px;
    height: 92px;
    padding: 10px;
    background: url('../images/Lightgreen.png')
}

#innersquare {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.ridOfSearch,
.actual-edit-overlay {
    height: 33px;
    font-weight: 700;
    color: #000;
    font-size: 24px;
    border-top: none;
    margin-right: 8px;
    width: 420px;
    margin-top: 29px;
    margin-left: 13px;
    border-bottom: 2px solid #7CC04B;
    border-left: none;
    border-right: none;
    -webkit-text-fill-color: #231F20 !important;
}

#ridSearch {
    position: absolute;
    top: 42px;
    right: 31px;
    color: #7CC04B!important;
}

#collectionSearch {
    position: absolute;
    top: 42px;
    right: 31px;
    color: #7CC04B!important;
}

.exampleRidSearch {
    margin-top: 8px;
    margin-left: 14px;
    color: #9B9B9B;
    font-size: 15px;
    line-height: 17px;
}

input.ridOfSearch:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.searchRidParent {
    padding-right: 8px;
}

.searchCollectionParent {
    padding-left: 8px;
}

.programContainerParent {
    background-color: #F2F2F2;
    height: 288px;
}

#programCol {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    margin-right: 19px;
    width: 25%;
    width: 220px;
    height: 200px;
    background: white;
}

.programContainer {
    margin-left: auto;
    width: 1180px;
    margin-right: auto;
    padding-top: 44px;
}

.programImageDiv>img {
    height: 65px;
    width: 65px;
}

.programImageDiv {
    text-align: center;
    margin-top: 36.5px;
}

.programTitleDiv {
    text-align: center;
    color: #231F20;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 16.7px;
}

.searchProgramBtnDiv>button {
    font-family: inherit;
    font-size: 13px;
    height: 36px;
    width: 126px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 118, 77);
    border-radius: 0.188em;
    border: 0px;
    padding: 0.4em 1em;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 0px;
}

.searchProgramBtnDiv,
.searchProgramBtnDivTablet {
    text-align: center;
}

.serviceRequestTitle {
    padding-left: 26px;
    color: #231F20;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    color: #231F20;
    padding-right: 26px;
    padding-top: 29px;
}

.serviceRequestInput,
.serviceRequestInputTablet {
    text-align: center;
}

.serviceRequestSearch {
    text-align: center;
    margin-top: 8px;
    height: 40px;
    border: 1px solid #EDEDEE;
    border-radius: 3px;
    width: 190px;
    color: #9B9B9B;
    ;
    background-repeat: no-repeat;
    background-position: right 13px center;
    border-radius: 3px;
    font-size: 12px;
}

input.serviceRequestSearch:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: 0 !important;
    border-color: #7CC04B !important;
}

.programMobileData {
    display: none;
}

.initiativesContainerParent {
    background: linear-gradient(111.47deg, #046848 0%, #01855D 100%);
}

.programInitiativesContainer {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 1180px!important;
}

#initiativesCol {
    padding: 0;
    color: white;
    height: 142px;
    border-left: 1px solid white;
    width: 294px;
}

#initiativesColLast {
    padding: 0;
    color: white;
    height: 142px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 294px;
}

.initiativesHeaderDiv {
    font-size: 16px;
    font-weight: bold;
    line-height: 33px;
    text-align: center;
}

.initiativesNoHeaderDiv {
    height: 33px;
}

.initiativesTitleDiv {
    margin-bottom: 14px;
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
    text-align: center;
}

.initiativesContentDiv {
    margin-top: 50px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}


/*MOBILE VIEW!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media only screen and (max-width: 499px) {
    .carouselLeftPanel {
        display: none;
    }
    .searchContainerRidCollection {
        padding-top: 17px;
        padding-bottom: 17px;
        width: auto;
    }
    #TextureSquare {
        height: 130px;
        width: 100%;
    }
    .ridOfSearch,
    .actual-edit-overlay {
        height: 29px;
        margin-top: 25px;
        font-size: 18px;
        width: 95%;
        margin-left: 9px;
    }
    .exampleRidSearch {
        margin-left: 10px;
    }
    .searchRow {
        margin: 0;
    }
    .searchCollectionParent {
        margin-top: 15px;
    }
    #ridSearch {
        top: 36px;
    }
    #collectionSearch {
        top: 36px;
    }
    .serviceRequestTitleTablet {
        padding-left: 26px;
        color: #231F20;
        font-size: 17.5px;
        font-weight: bold;
        line-height: 22px;
        text-align: center;
        color: #231F20;
        padding-right: 26px;
        padding-top: 30px;
    }
    .serviceRequestSearchTablet {
        border-radius: 3px;
        padding-bottom: 11.2px;
        padding-left: 20px;
        border: 2px solid #EDEDEE;
        width: 100%;
        padding-top: 9px;
        margin-top: 19px;
    }
    .serviceRequestSearchTablet:focus {
        border-color: #7CC04B!important;
        box-shadow: none !important;
        outline: 0 !important;
    }
    .serviceRequestInputTablet>.subSectionButton {
        margin-left: 0px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .serviceRequestParentTablet {
        padding-left: 11px;
        padding-right: 11px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        border-radius: 3px;
        margin-bottom: 17px;
        background-color: white;
        display: block;
    }
    .programContainerParentTablet {
        height: 100%;
    }
    .programContainer {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 17px;
    }
    .programContainer>.row {
        display: none;
        margin-left: 0;
    }
    .serviceRequestCol {
        display: none;
    }
    #programCol {
        width: 166px;
        height: 165px;
        margin-right: 14px;
    }
    .searchRidParent {
        padding-right: 15px;
    }
    .searchCollectionParent {
        padding-left: 15px;
    }
    .programImageDiv {
        margin-top: 20.6px;
    }
    .programTitleDiv {
        margin-top: 6.5px;
    }
    .programMobileData {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        display: block;
    }
    .programMobileImage {
        margin-top: 12.92px;
        float: right;
        height: 54.17px;
        width: auto;
    }
    .programMobileOuter {
        display: table;
        width: 100%;
        padding-left: 15px;
        padding-right: 14.92px;
        border-radius: 3px;
        margin-bottom: 17px;
        height: 80px;
        background-color: white;
    }
    .programMobileTitle {
        vertical-align: middle;
        color: #231F20;
        display: inline-block;
        width: 82%;
        font-size: 17px;
        font-weight: bold;
        line-height: 20px;
        display: table-cell;
    }
    #initiativesCol {
        padding-top: 18px;
        padding-bottom: 20px;
        color: white;
        height: 118px;
        border-bottom: 1px solid white;
        border-right: 0px solid transparent;
        border-left: 0px solid transparent;
        width: 100%;
    }
    #initiativesColLast {
        padding-top: 18px;
        padding-bottom: 20px;
        padding: 0;
        color: white;
        height: 118px;
        border-right: 0px solid transparent;
        border-left: 0px solid transparent;
        width: 100%;
    }
    .programInitiativesContainer {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 0;
        margin-right: 0;
        width: 100%!important;
    }
    .programInitiativesContainer>.row {
        margin-left: 0;
        margin-right: 0;
    }
    .initiativesHeaderDiv {
        padding-top: 0px;
        font-size: 16px;
        font-weight: bold;
        line-height: 27px;
        text-align: start;
    }
    .initiativesNoHeaderDiv {
        height: 33px;
    }
    .initiativesTitleDiv {
        margin-bottom: 0px;
        font-size: 17.5px;
        font-weight: bold;
        line-height: 33px;
        text-align: start;
    }
    .initiativesContentDiv {
        margin-top: 3px;
        font-size: 16px;
        line-height: 20px;
        text-align: start;
    }
    .initiativesParentDiv {
        padding-left: 16px;
    }
}


/*TABLET VIEW !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media (min-width: 500px) and (max-width: 959px) {
    .carouselLeftPanel {
        display: none;
    }
    .searchContainerRidCollection {
        width: 712px;
    }
    #TextureSquare {
        width: 100%;
    }
    .ridOfSearch,
    .actual-edit-overlay {
        width: 663.88px;
    }
    .searchCollectionParent {
        margin-top: 10px;
    }
    #ridSearch {
        right: 36px;
    }
    #collectionSearch {
        right: 36px;
    }
    .serviceRequestTitleTablet {
        padding-left: 26px;
        color: #231F20;
        font-size: 17.5px;
        font-weight: bold;
        line-height: 22px;
        text-align: center;
        color: #231F20;
        padding-right: 26px;
        padding-top: 28px;
    }
    .serviceRequestSearchTablet {
        border-radius: 3px;
        padding-bottom: 11.2px;
        padding-left: 20px;
        border: 2px solid #EDEDEE;
        width: 520px;
        padding-top: 9px;
    }
    .serviceRequestSearchTablet:focus {
        border-color: #7CC04B!important;
        box-shadow: none !important;
        outline: 0 !important;
    }
    .serviceRequestInputTablet>.subSectionButton {
        margin-left: 20px;
        width: 126px;
        margin-top: 21px;
        margin-bottom: 37px;
    }
    .serviceRequestParentTablet {
        height: 147px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        border-radius: 3px;
        margin-bottom: 20px;
        background-color: white;
        display: block;
    }
    .programContainerParentTablet {
        height: 392px;
    }
    .programContainer {
        padding-top: 30px;
        width: 708px;
    }
    .programContainer>.row {
        margin-left: 0;
    }
    .serviceRequestCol {
        display: none;
    }
    #programCol {
        width: 166px;
        height: 165px;
        margin-right: 14px;
    }
    .searchRidParent {
        padding-right: 15px;
    }
    .searchCollectionParent {
        padding-left: 15px;
    }
    .programImageDiv {
        margin-top: 20.6px;
    }
    .programTitleDiv {
        margin-top: 6.5px;
    }
    #initiativesCol {
        margin-top: 13px;
        padding-bottom: 19px;
        color: white;
        height: 118px;
        border-bottom: 1px solid white;
        border-right: 0px solid transparent;
        border-left: 0px solid transparent;
        width: 100%;
    }
    #initiativesColLast {
        padding: 0;
        color: white;
        height: 118px;
        border-right: 0px solid transparent;
        border-left: 0px solid transparent;
        width: 100%;
    }
    .programInitiativesContainer {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 0;
        margin-right: 0;
        width: 100%!important;
    }
    .programInitiativesContainer>.row {
        margin-left: 0;
        margin-right: 0;
    }
    .initiativesHeaderDiv {
        padding-top: 0px;
        font-size: 16px;
        font-weight: bold;
        line-height: 33px;
        text-align: start;
    }
    .initiativesNoHeaderDiv {
        height: 33px;
    }
    .initiativesTitleDiv {
        margin-bottom: 14px;
        font-size: 24px;
        font-weight: bold;
        line-height: 33px;
        text-align: start;
    }
    .initiativesContentDiv {
        margin-top: 10px;
        font-size: 16px;
        line-height: 20px;
        text-align: start;
    }
    .initiativesParentDiv {
        padding-left: 36px;
    }
}


/*PHONE LANDSCAPE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media (min-width: 567px) and (max-width: 736px) and (orientation: landscape) {
    .carouselLeftPanel {
        display: none;
    }
    .searchContainerRidCollection {
        width: auto;
    }
    #TextureSquare {
        height: 130px;
        width: 100%;
    }
    .ridOfSearch,
    .actual-edit-overlay {
        height: 29px;
        margin-top: 25px;
        font-size: 18px;
        width: 95%;
        margin-left: 9px;
    }
    .exampleRidSearch {
        margin-left: 10px;
    }
    .searchRow {
        padding-left: 16px;
        padding-right: 16px;
    }
    .searchCollectionParent {
        margin-top: 15px;
    }
    #ridSearch {
        right: 42px;
        top: 36px;
    }
    #collectionSearch {
        right: 42px;
        top: 36px;
    }
    .serviceRequestTitleTablet {
        padding-left: 26px;
        color: #231F20;
        font-size: 17.5px;
        font-weight: bold;
        line-height: 22px;
        text-align: center;
        color: #231F20;
        padding-right: 26px;
        padding-top: 30px;
    }
    .serviceRequestSearchTablet {
        border-radius: 3px;
        padding-bottom: 11.2px;
        padding-left: 20px;
        border: 2px solid #EDEDEE;
        width: 100%;
        padding-top: 9px;
        margin-top: 19px;
    }
    .serviceRequestSearchTablet:focus {
        border-color: #7CC04B!important;
        box-shadow: none !important;
        outline: 0 !important;
    }
    .serviceRequestInputTablet>.subSectionButton {
        margin-left: 0px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .serviceRequestParentTablet {
        height: auto!important;
        padding-left: 11px;
        padding-right: 11px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        border-radius: 3px;
        margin-bottom: 17px;
        background-color: white;
        display: block;
    }
    .programContainerParentTablet {
        height: 100%;
    }
    .programContainer {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 17px;
    }
    .programContainer>.row {
        display: none;
        margin-left: 0;
    }
    .serviceRequestCol {
        display: none;
    }
    #programCol {
        width: 166px;
        height: 165px;
        margin-right: 14px;
    }
    .searchRidParent {
        padding-right: 15px;
    }
    .searchCollectionParent {
        padding-left: 15px;
    }
    .programImageDiv {
        margin-top: 20.6px;
    }
    .programTitleDiv {
        margin-top: 6.5px;
    }
    .programMobileData {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        display: block;
    }
    .programMobileImage {
        margin-top: 12.92px;
        float: right;
        height: 54.17px;
        width: auto;
    }
    .programMobileOuter {
        display: table;
        width: 100%;
        padding-left: 15px;
        padding-right: 14.92px;
        border-radius: 3px;
        margin-bottom: 17px;
        height: 80px;
        background-color: white;
    }
    .programMobileTitle {
        vertical-align: middle;
        color: #231F20;
        display: inline-block;
        width: 82%;
        font-size: 17px;
        font-weight: bold;
        line-height: 20px;
        display: table-cell;
    }
    #initiativesCol {
        margin-top: 0;
        padding-top: 18px;
        padding-bottom: 20px;
        color: white;
        height: 118px;
        border-bottom: 1px solid white;
        border-right: 0px solid transparent;
        border-left: 0px solid transparent;
        width: 100%;
    }
    #initiativesColLast {
        margin-top: 0;
        padding-top: 18px;
        padding-bottom: 20px;
        padding: 0;
        color: white;
        height: 118px;
        border-right: 0px solid transparent;
        border-left: 0px solid transparent;
        width: 100%;
    }
    .programInitiativesContainer {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 0;
        margin-right: 0;
        width: 100%!important;
    }
    .programInitiativesContainer>.row {
        margin-left: 0;
        margin-right: 0;
    }
    .initiativesHeaderDiv {
        padding-top: 0px;
        font-size: 16px;
        font-weight: bold;
        line-height: 27px;
        text-align: start;
    }
    .initiativesNoHeaderDiv {
        height: 33px;
    }
    .initiativesTitleDiv {
        margin-bottom: 0px;
        font-size: 17.5px;
        font-weight: bold;
        line-height: 33px;
        text-align: start;
    }
    .initiativesContentDiv {
        margin-top: 3px;
        font-size: 16px;
        line-height: 20px;
        text-align: start;
    }
    .initiativesParentDiv {
        padding-left: 16px;
    }
}


/*BETWEEN DESKTOP AND TABLET*/

@media (min-width: 960px) and (max-width: 1284px) {
    .carouselLeftPanel {
        display: block;
    }
    .searchRidParent {
        padding-right: 8px;
    }
    .searchCollectionParent {
        padding-left: 8px;
    }
    .programContainer {
        padding-top: 30px;
        width: 940px;
    }
    .programContainer>.row {
        margin-left: 0;
    }
    .serviceRequestCol {
        display: none;
    }
    #programCol {
        margin-right: 18px;
    }
    .serviceRequestTitleTablet {
        padding-left: 26px;
        color: #231F20;
        font-size: 17.5px;
        font-weight: bold;
        line-height: 22px;
        text-align: center;
        color: #231F20;
        padding-right: 26px;
        padding-top: 28px;
    }
    .serviceRequestSearchTablet {
        border-radius: 3px;
        padding-bottom: 11.2px;
        padding-left: 20px;
        border: 2px solid #EDEDEE;
        width: 755px;
        padding-top: 9px;
    }
    .serviceRequestSearchTablet:focus {
        border-color: #7CC04B!important;
        box-shadow: none !important;
        outline: 0 !important;
    }
    .serviceRequestInputTablet>.subSectionButton {
        margin-left: 20px;
        width: 126px;
        margin-top: 21px;
        margin-bottom: 37px;
    }
    .serviceRequestParentTablet {
        height: 147px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        border-radius: 3px;
        margin-bottom: 20px;
        background-color: white;
        display: block;
    }
    .initiativesContentDiv {
        padding-left: 21px;
        padding-right: 21px;
        margin-top: 0;
        ;
    }
    .programContainerParentTablet {
        height: 427px;
    }
    .programInitiativesContainer {
        padding-top: 40px;
        padding-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
        width: 936px!important;
    }
    .programInitiativesContainer>.row {
        margin-left: 0;
        margin-right: 0;
    }
    #initiativesColLast,
    #initiativesCol {
        width: 234px;
    }
    .initiativesTitleDiv {
        padding-top: 14px;
        min-height: 80px;
    }
}