    
.carouselLeftPanel{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    float: left;
    list-style-type: none;
    padding-left: 0;
    width: 105px;    
    background-color: #fff;
}
.statusTitle{    
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #666;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    padding: 5px;
    background-color: #e5e5e5;
}
.programsList{    
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #666;
    font-family: inherit;
    text-align: center;
    font-size: 12px;
    padding: 0px 5px;
    background-color: #fff;
}
.statusProgram{
    font-size: 12px;
    font-weight: bold;
    color: #000;
}
.detailsProgram{
    font-size: 12px;
}
.border-top {
    border-top: 1px solid #efefef;
    width: 80%;
    margin: 0 12%;
    float: left;
}
.panelData{
    padding-bottom: 6px;
    padding-top: 1px;
    padding-left: 2px;
    padding-right: 2px;
}
.dateCarouselPanel{
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    line-height: 34px;
    padding: 0 5px;
}
.programImage{
    padding-top: 13px;;
}
.monthCarouselPanel{
    float: none;
    text-align: center;
    display: block;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: -1px;
    margin-top: -18px;
}
.panelButton, .panelButton:active, .panelButton:link, .panelButton:visited {
    padding: 8px 25px 8px 12px;
    display: inline-block;
    margin-top: 16px;
    margin-right: 5px;
    margin-bottom: 33px;
    margin-left: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    padding: 10px 25px 10px 12px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-image: url(http://www1.nyc.gov/assets/home/images/global/link-arrow-white-withoffset13.png);
    background-position: right 45%;
    background-color: black;
    background-repeat: no-repeat;
    border: none;
}
.panelButton:hover{
    background-color: #096543;
}
.searchContainerRidCollection{
    padding-top: 24px;
    width: 940px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 24px;
}
#TextureSquare{
    width: 461px;
    height: 142px;
    padding: 10px;
    background: url('../images/Lightgreen.png')
}
#innersquare {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF ;
}
.ridOfSearch, .actual-edit-overlay{
    height: 33px;
    font-weight: 700;
    color: #000;
    font-size: 24px;
    border-top: none;
    margin-right: 8px;
    width: 420px;
    margin-top: 29px;
    margin-left: 13px;
    border-bottom: 2px solid #7CC04B;
    border-left: none;
    border-right: none;
    -webkit-text-fill-color: #231F20 !important;
}
#ridSearch{
    position: absolute;
    top: 42px;
    right: 31px;
    color: #7CC04B!important;
}
#collectionSearch{
    position: absolute;
    top: 42px;
    right: 31px;
    color: #7CC04B!important;
}
.exampleRidSearch{
    margin-top: 8px;
    margin-left: 14px;
    color: #9B9B9B;
    font-size: 15px;
    line-height: 17px;
}
input.ridOfSearch:focus {
    box-shadow: none !important;
    outline: 0 !important;
}
    .searchRidParent{
        padding-right: 8px;
    }
    .searchCollectionParent{
        padding-left: 8px;
    }
.programContainerParent{
    background-color: #F2F2F2;
    height: 288px;
}
#programCol{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
    margin-right: 19px;
    width: 25%;
    width: 220px;
    height: 200px;
    background: white;
}
.programContainer {
    margin-left: auto;
    width: 1180px;
    margin-right: auto;
    padding-top: 44px;
}
.programImageDiv>img{
    height: 65px;
    width: 65px;
}
.programImageDiv{
    text-align: center;
    margin-top: 36.5px;
}
.programTitleDiv{
    text-align: center;
    color: #231F20;	
    font-size: 16px;	
    font-weight: bold;	
    line-height: 20px;
    margin-top: 16.7px;
}
.searchProgramBtnDiv>button{
    font-family: inherit;
    font-size: 13px;
    height: 36px;
    width: 126px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 118, 77);
    border-radius: 0.188em;
    border: 0px;
    padding: 0.4em 1em;
    cursor: pointer;
    outline: none;
    font-weight: 600; 
    margin-top: 18px; 
    margin-bottom: 0px; 
}
.searchProgramBtnDiv{
    text-align: center;
}
.serviceRequestTitle {
    padding-left: 26px;
    color: #231F20;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    color: #231F20;
    padding-right: 26px;
    padding-top: 29px;
}
.serviceRequestInput{
    text-align: center;
}
.serviceRequestSearch{
    text-align: center;
    margin-top: 8px;
    height: 40px;
    border: 1px solid #EDEDEE;
    border-radius: 3px;
    width: 190px;
    color: #9B9B9B;;
    background-repeat: no-repeat;
    background-position: right 13px center;
    border-radius: 3px;
    font-size: 12px;
}
input.serviceRequestSearch:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: 0 !important;
    border-color: #7CC04B !important;
}
/*MOBILE VIEW!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media only screen and (max-width: 499px) {
    .carouselLeftPanel{
        display: none;
    }
    .searchContainerRidCollection {
        width: auto;
    }
    #TextureSquare {
        height: 130px;
        width: 100%;
    }
    .ridOfSearch, .actual-edit-overlay {
        height: 29px;
        margin-top: 25px;
        font-size: 18px;
        width: 95%;
        margin-left: 9px;
    }
    .exampleRidSearch {
        margin-left: 10px;
    }
    .searchRow {
        padding-left: 16px;
        padding-right: 16px;
    }
    .searchCollectionParent{
        margin-top: 15px;
    }
    #ridSearch{
        top: 36px;
    }
    #collectionSearch{
        top: 36px;
    }
}

/*TABLET VIEW !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (min-width: 500px) and (max-width: 959px){
    .carouselLeftPanel{
        display: none;
    }
    .searchContainerRidCollection{
        width: 712px;
    }
    #TextureSquare {
        width: 100%;
    }
    .ridOfSearch, .actual-edit-overlay {
        width: 663.88px;
    }
    .searchCollectionParent{
        margin-top: 10px;
    }
    #ridSearch{
        right: 36px;
    }
    #collectionSearch{
        right: 36px;
    }

}
/*PHONE LANDSCAPE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (min-width: 567px) and (max-width: 736px) and (orientation: landscape){
    .carouselLeftPanel{
        display: none;
    }
    .searchContainerRidCollection {
        width: auto;
    }
    #TextureSquare {
        height: 130px;
        width: 100%;
    }
    .ridOfSearch, .actual-edit-overlay {
        height: 29px;
        margin-top: 25px;
        font-size: 18px;
        width: 95%;
        margin-left: 9px;
    }
    .exampleRidSearch {
        margin-left: 10px;
    }
    .searchRow {
        padding-left: 16px;
        padding-right: 16px;
    }
    .searchCollectionParent{
        margin-top: 15px;
    }
    #ridSearch{
        right: 42px;
        top: 36px;
    }
    #collectionSearch{
        right: 42px;
        top: 36px;
    }
}
/*BETWEEN DESKTOP AND TABLET*/
@media (min-width: 960px) and (max-width: 1284px){
    .carouselLeftPanel{
        display: none;
    }
    .searchRidParent{
        padding-right: 8px;
    }
    .searchCollectionParent{
        padding-left: 8px;
    }
}