.howToGetRidOfParent>.GBanner>div>.BreadcrumbHeaderTitleSection>.container{
    /* padding-left: 0px; */
}
.react-autosuggest__suggestions-container {
    position: relative;
}
.react-autosuggest__suggestions-container--open{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);    
    max-height: 250px;
    overflow-y: auto;
    z-index:100!important;
    margin-left: 13px;
    margin-right: 8px;
}
.react-autosuggest__suggestions-container--open>ul{
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 15px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding-left: 0;
    list-style-type: none;
}
.react-autosuggest__suggestions-container--open>ul>li{
    border-bottom: 1px solid #F0F0F0;    
}
.react-autosuggest__suggestions-container--open>ul>li:last-child{
    border-bottom: 0px solid transparent;    
}
.react-autosuggest__suggestions-container--open>ul>li>a{
    color: black;
}
.react-autosuggest__suggestions-container--open>ul>li>a:hover{
    /* color: white; */
}
.react-autosuggest__suggestion.react-autosuggest__suggestion--highlighted{
    background-color: #F1F1F1 ;
}
.react-autosuggest__suggestion.react-autosuggest__suggestion--highlighted>a{
    /* color: white; */
}
.react-autosuggest__suggestions-container--open>ul>li:hover{
    background-color: #F1F1F1  !important;
    /* color: #ffffff !important; */
}
.ridOfSuggestions{
    padding-left: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.GTextureRidOf{
    height: 126px!important;
}
#ridOfSearchResults {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right:41px;    
    color: #7CC04B!important;
    font-size: 24px;
}
#ridOfSearchResultsSiteSearch {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right:8px;    
    color: #7CC04B!important;
    font-size: 24px;
}
#ridOfSearchResultsNotClear {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right:8px;    
    color: #7CC04B!important;
    font-size: 24px;
}
#ridOfSearchResultsClear {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right:41px;    
    color: #7CC04B!important;
    font-size: 24px;
}
#innersquareRidOf{
    width: 100%;
    position: relative;
    height: 100%;
    background-color: #FFFFFF;
}
#innersquareRidOf>.react-autosuggest__container{
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}    
#innersquareRidOf>.react-autosuggest__container>.react-autosuggest__suggestions-container--open{
    margin-left: 0px;
    margin-right: 0px;
}    
.exampleRidSearchResults {
    margin-top: 8px;
    margin-left: 0px;
    color: #9B9B9B;
    font-size: 15px;
    line-height: 17px;
}
.ridOfSearchResults{
    padding-right: 65px;
    line-height: 24px;
    outline: none;
    height: 33px;
    font-weight: 700;
    color: #000;
    font-size: 24px;
    border-top: none;
    border-bottom: 2px solid #7CC04B;
    border-left: none;
    border-right: none;
    -webkit-text-fill-color: #231F20 !important;
    width: 940px;
}
.searchRowRidOf{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.searchRidOfParent {
    padding-left: 0px;
    padding-right: 0;
}
.ridOfSearchResultsFirstParentDiv{
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 1px solid #E3E3E3;
}
.ridOfSearchResultsFirstParentDiv>a, .ridOfSearchResultsParentDiv>a{
    color: #00764D;
}
.ridOfSearchResultsFirstParentDiv>a:hover, .ridOfSearchResultsParentDiv>a:hover{
    color: #7CC04B;
}
.ridOfSearchResultsParentDiv{
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 1px solid #E3E3E3;
}
.ridOfItemTitle{
    font-size: 17.5px;	
    font-weight: bold;	
    line-height: 22px;
}
.ridOfItemContent{
    padding-top: 19px;
    color: #333333;
    font-size: 16px;	
    line-height: 24px;
}
.searchContainerRidOfCollection {
    padding-top: 30px;
    width: 940px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 100px;
}
.noOfSearchResults{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #333333;	
    font-size: 17.5px;	
    font-weight: bold;	
    line-height: 22px;
    padding-top: 32px;
}
.noOfSearchResultsCollectionSchedule{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    color: #333333;	
    font-size: 17.5px;	
    font-weight: bold;	
    line-height: 22px;
    padding-top: 15px;
}
.searchBoxPaginate{
    width: 100%;
}
.searchBoxPaginate>li{
    text-align: center;
}
.searchBoxPaginate>li:first-child{
    margin-right: calc(50% - 43px);
    float: left;
}
.searchBoxPaginate>li:last-child{
    float: right;
}
.searchBoxPaginate>li>a{
    color: #00764E !important;
}
.searchBoxPaginate>li>a:focus{
    outline: none;
    background-color: inherit;
}
.searchBoxPaginate>li.active>a{
    background-color: #00764E !important;
    border-color: #00764E;
    color: white !important;
}
.searchBoxPaginate>li>a:hover{
    background-color: #00764E !important;
    border-color: #00764E;
    color: white !important;
}
.searchBoxPaginate>li.disabled>a{
    background-color: #EEEEEE !important;
}
input::-ms-clear {
    display: none;
  }

.collectionScheduleLanding-autocomplete-container{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);    
    max-height: 250px;
    overflow-y: auto;
    font-size: 16px;
    font-weight: bold;
    line-height: 15px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding-left: 0;
    list-style-type: none;
}
.collectionSchedule-autocomplete-container{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);    
    max-height: 250px;
    overflow-y: auto;
    margin-left: 13px;
    margin-right: 8px;
    font-size: 16px;
    font-weight: bold;
    line-height: 15px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding-left: 0;
    list-style-type: none;
}
.collectionScheduleItem{
    border-bottom: 1px solid #F0F0F0;    
    padding-left: 16px;
    padding-right: 16px;        
    padding-top: 20px;
    padding-bottom: 20px;
}
.collectionScheduleActiveItem{
    border-bottom: 1px solid #F0F0F0;
    padding-left: 16px;
    padding-right: 16px;    
    padding-top: 20px;
    /* color: white; */
    cursor: pointer;
    background-color: #F1F1F1 ;    
}
.googleLogoContainer, .googleLogoImage{
    display: none;
}
.collectionSearchAutoComplete:focus{
    outline: none;
}
.collectionSearchAutoComplete{
    padding-right: 65px;
    height: 33px;
    font-weight: 700;
    color: #000;
    font-size: 18px;
    border-top: none;
    margin-right: 8px;
    width: 420px;
    margin-top: 30px;
    margin-left: 13px;
    border-bottom: 2px solid #7CC04B;
    border-left: none;
    border-right: none;
    -webkit-text-fill-color: #231F20 !important;
}
.collectionSearchInput:focus{
    outline: none;
}
.collectionSearchInput{
    line-height: 24px;
    padding-right: 74px;
    height: 33px;
    font-weight: 700;
    color: #000;
    font-size: 24px;
    border-top: none;
    margin-right: 8px;
    width: 100%;
    margin-top: 29px;
    margin-left: 0px;
    border-bottom: 2px solid #7CC04B;
    border-left: none;
    border-right: none;
    -webkit-text-fill-color: #231F20 !important;
}
.collectionAutocompleteParent{
    border-bottom: 2px solid #7CC04B;
}
#collectionSearchResults{
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 8px;
    color: #7CC04B!important;
    font-size: 24px;
}
#collectionSearchResultsClear{
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 47px;
    color: #7CC04B!important;
    font-size: 24px;
}
  /*MOBILE VIEW!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media only screen and (max-width: 599px) {
    .noOfSearchResultsCollectionSchedule{
        width: auto;
    }
    .howToGetRidOfParent>.GBanner>div>.BreadcrumbHeaderTitleSection>.container{
        padding-left: 0px;
    }
    .collectionSearchAutoComplete{
        margin-left: 9px;
        margin-right: 8px;
        height: 29px;
        margin-top: 25px;
        width: 95%;
    }
    .BreadcrumbHeaderTitleSection>.container{
        font-size: 24px;
        margin-left: 15px;
    }
    .searchContainerRidOfCollection{
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
    }
    .searchRowRidOf {
        width: auto;
    }
    #innersquareRidOf>.react-autosuggest__container {
        width: auto;
    }
    .ridOfSearchResults {
        width: 100%;
    }   
}
/*TABLET VIEW !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (min-width: 500px) and (max-width: 959px) and (orientation: portrait){
    .noOfSearchResultsCollectionSchedule{
        width: auto;
    }
    .howToGetRidOfParent>.GBanner>div>.BreadcrumbHeaderTitleSection>.container{
        padding-left: 0px;
    }
.react-autosuggest__suggestions-container--open{
        margin-left: 14px;
        margin-right: 14px;
}
.collectionSearchAutoComplete{
    margin-top: 30px;
    width: 663.88px;
}
.BreadcrumbHeaderTitleSection>.container{
    font-size: 38px;
    margin-left: 25px;
}    
.searchContainerRidOfCollection{
    padding-left: 25px;
    padding-right: 32px;
    width: auto;
}
.searchRowRidOf {
    width: auto;
}
#innersquareRidOf>.react-autosuggest__container {
    width: auto;
}
.ridOfSearchResults {
    width: 100%;
}
}    
/*PHONE LANDSCAPE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (min-width: 600px) and (max-width: 736px) and (orientation: landscape) {
    .noOfSearchResultsCollectionSchedule{
        width: auto;
    }
    .howToGetRidOfParent>.GBanner>div>.BreadcrumbHeaderTitleSection>.container{
        padding-left: 0px;
    }
    .react-autosuggest__suggestions-container--open{
        margin-left: 10px;
        margin-right: 10px;
    }
    .BreadcrumbHeaderTitleSection>.container{
        font-size: 24px;
        margin-left: 15px;
    }
    /* .collectionSearchAutoComplete{
        padding-right: 65px;
        height: 33px;
        font-weight: 700;
        color: #000;
        font-size: 18px;
        border-top: none;
        margin-right: 8px;
        width: 420px;
        margin-top: 29px;
        margin-left: 13px;
        border-bottom: 2px solid #7CC04B;
        border-left: none;
        border-right: none;
        -webkit-text-fill-color: #231F20 !important;
    }
    .ridOfSearch,
    .actual-edit-overlay {
        padding-right: 37px;
        height: 29px;
        margin-top: 25px!important;
        font-size: 18px;
        width: 95%;
        margin-left: 9px;
    } */
    .collectionSearchAutoComplete{
        margin-top: 25px;
        height: 29px;
        margin-left: 9px;
        margin-right: 8px;
        width: calc(100% - 18px);
    }
    .searchContainerRidOfCollection{
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
    }
    .searchRowRidOf {
        width: auto;
    }
    #innersquareRidOf>.react-autosuggest__container {
        width: auto;
    }
    .ridOfSearchResults {
        width: 100%;
    }   
}    
/*BETWEEN DESKTOP AND TABLET*/
@media (min-width: 960px) and (max-width: 1284px) {
}    