.lawsTitle {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top:25px;
}

.lawsFirstTitle{
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1px;
}

.lawsDesc {
  color: #333333;
  font-size: 16px;
  margin-top:25px;
}


.lawsFirstDesc{
  color: #333333;
  font-size: 16px;
}
.lawsLink {
  color: #00764D;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.lawsLink:hover {
  color: #7CC04B;
}

.hairline {
  height: 1px;
  background-color: #E3E3E3;
  margin-top: 2px;
}

.increasedTopMargin{
  margin-top:20px;
}