.boroughList {
  margin: 5px;
}

.locationsDetails{
  margin-top: 10px;
}

.locationDistrict{
  width: 220px;
  height: 120px;
  display: inline-block;
}

a:hover {
  color: #7CC04B;
}

.plannedGarages{
  padding-bottom: 20px;
  color: #00764E;
  font-size: 17.5px;
  font-weight: bold;
}

.plannedGarages:hover{
   color: #7CC04B
}

.toLocation{
  color: black;
}

.toPlanned{
  margin-top: 30px;
  margin-bottom: 60px;;
}

.addressDetails{
  padding-top: 10px;
}

.crossStreetDetails{
  padding-top: 10px;
}
