.topNewsTitle {
    padding-left: 8;
    margin-top: 30px;
}

.topCardTitleText{
    height: 43px;
    width: 940px;
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
}

.topNewsExplaination{
    height: 48px;
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
}

.restNews{
    margin-top: 30px;
    padding-bottom: 100px;
}

.newsImageSection{
    height: 142px;
    padding-left: 0px;
    padding-right: 0px;
}

.bottomNewsExplain{
    margin-left: 22px;
    margin-bottom: 30px;
}

.bottomCardTitle{
    height: 21px;
    font-size: 17.5px;
    font-weight: bold;
    line-height: 22px;
    margin-top: 30px;
}

.bottomCardTitleText{
    margin-top: 30px;
}

.bottomNewsExplaination{
    height: 44px;
    color: #333333;
    font-size: 16px;
    line-height: 22px;
    margin-top: 8px;
}

.topNewsImageContainer {
    background-size: 100%;
    height: 528px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/*Mobile View*/
@media only screen and (max-width: 499px) {
    .topCardTitleText{
        height: 21px;
        font-size: 17.5px;
        font-weight: bold;
        line-height: 22px;
    }
    
    .bottomNewsExplain{
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
        padding: 0px;
        margin-bottom: 30px;
    }

    .topNewsTitle{
        padding-left: 15px;
        padding-right: 15px;
        width: auto!important;
    }

    .restNews{
        padding-bottom: 100px!important;
    }

    .newscardImage{
        width: auto!important;
    }

    .topNewsImageContainer{
        height: 162px;
    }
}

/*TABLET VIEW !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (min-width: 500px) and (max-width: 959px) and (orientation: portrait){
    .bottomNewsExplain{
        margin-left: 0;
        margin-right: 0;
        padding: 0px;
        width: auto!important;
    }

    .topNewsTitle{
        padding-left: 15px;
        padding-right: 15px;
        width: auto!important;
    }

    .restNews{
        padding-bottom: 100px!important;
    }

    .newscardImage{
        width: auto!important;
    }

    .topNewsImageContainer{
        height: 420px;
    }

    .bottomCardTitleText{
        margin-top: 10px;
    }

}

/*TABLET VIEW !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (min-width: 500px) and (max-width: 959px) and (orientation: landscape){
    .bottomNewsExplain{
        margin-left: 0;
        margin-right: 0;
        padding: 0px;
        width: auto!important;
    }

    .topNewsTitle{
        padding-left: 15px;
        padding-right: 15px;
        width: auto!important;
    }

    .restNews{
        padding-bottom: 100px!important;
    }

    .newscardImage{
        width: auto!important;
    }

    .topNewsImageContainer{
        height: 420px;
    }

    .bottomCardTitleText{
        margin-top: 10px;
    }

}

/*PHONE LANDSCAPE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (min-width: 567px) and (max-width: 736px) and (orientation: landscape) {
    .bottomNewsExplain{
        margin-bottom: 30px;
        margin-left: 0;
        margin-right: 0;
        padding: 0px;
    }

    .topNewsTitle{
        padding-left: 15px;
        padding-right: 15px;
        width: auto!important;
    }

    .restNews{
        padding-bottom: 100px!important;
    }

    .newscardImage{
        width: auto!important;
    }

    .topNewsImageContainer{
        height: 300px;
    }

    .bottomCardTitleText{
        margin-top: 10px;
    }

}

/*BETWEEN DESKTOP AND TABLET*/
@media (min-width: 960px) and (max-width: 1284px) {
    .bottomNewsExplain{
        margin-left: 0;
        margin-right: 0;
        padding: 0px;
        width: auto!important;
    }

    /* .topNewsTitle{
        padding-left: 15px;
        padding-right: 15px;
    } */

    .restNews{
        padding-bottom: 100px!important;
    }

    .newscardImage{
        width: auto!important;
    }

    .bottomCardTitleText{
        margin-top: 10px;
    }

}
