.PressReleaseBody{
  margin: 30px auto 70px auto;
}

.patternLineGreen {
  height: 10px;
  margin-bottom: 25px;
  background: url('../images/Lightgreen.png');
}

.PressReleaseBodytext {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  margin-right: 25px;
}

.PressReleaseBodyAddress{
  font-weight: bold;
}

.PressReleasePaddingTop{
  margin-top: 15px;
}

.PressReleaseBodySubHeaders {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 10px;
}

.PressReleaseBodyprid {
  height: 24px;
  width: 220px;
  color: #333333;
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 24px;
}

.PressReleaseBodycontact {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.PressReleaseBodycontact a {
  color: #00764D;
  font-weight: bold;
  
}

.PressReleaseBodycontact a:hover,.PressReleaseBodycontact a:focus{
  color:#7CC04B;
}



@media screen and (max-width: 767px){
  .PressReleaseContactBlock .patternLineGreen{
    display: none;
  }
  .PressReleaseContactBlock{
    margin: 30px 0;
  }
}
