.listItemTag {
  height: 22px;
  color: rgb(155, 155, 155);
  font-family: "Helvetica Neue";
  font-size: 14px;
}

.PressReleaseTitle {
  color: rgb(0, 118, 77);
  font-family: "Helvetica Neue";
  font-size: 17.5px;
  font-weight: 800;
}

.PressReleaseTitle:hover {
  color: #7CC04B;
}

.PressReleaseDate {
  color: rgb(51, 51, 51);
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 800;
}

.PRLIhairline {
  height: 1px;
  margin-top: 30px;
  background: rgb(227, 227, 227);
  margin: 20px 0px;
}
