.serviceRequestContainerParent{
    background-color: #F2F2F2;
}
.serviceRequestNo{
    padding-top: 24px;
    padding-bottom: 9px;
    color: #262626;	
    font-size: 36px;	
    font-weight: bold;	
    letter-spacing: -1px;	
    line-height: 33px;
}
.serviceRequestStatusParent {
    padding-left: 11px;
    padding-right: 11px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    margin-bottom: 17px;
    background-color: white;
    display: block;
}
.serviceRequestContainer>.serviceRequestParentTablet{
    display: block;
}
.serviceRequestParentTabletService {
    height: 147px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: white;
}
.serviceRequestInputTabletService {
    text-align: center;
}
.serviceRequestInputTabletService>.subSectionButton {
    margin-left: 20px;
    width: 126px;
    margin-top: 21px;
    margin-bottom: 37px;
}
.serviceRequestTitleTabletService {
    padding-left: 26px;
    color: #231F20;
    font-size: 17.5px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    color: #231F20;
    padding-right: 26px;
    padding-top: 28px;
}
.serviceRequestSearchTabletService {
    padding-bottom: 11.2px;
    padding-left: 20px;
    border: 2px solid #EDEDEE;
    width: 755px;
    padding-top: 9px;
}
.serviceRequestInputTabletService{
    text-align: center;
}
.serviceRequestSearchTabletService:focus, .serviceRequestSearchTablet:focus{
    border: 1px solid #7CC04B!important;    
    border-color: #7CC04B!important;
    box-shadow: none !important;
    outline: 0 !important;
}
.currentStatusParent{
    padding-left: 50px;
    padding-right: 43px;
    padding-top: 30px;
    padding-bottom: 21px;
}
.serviceRequestDetailsParent{
    margin-bottom: 30px;
    background-color: white;
}
.currentStatusTitle{
    color: #000000;	
    font-size: 17.5px;	
    font-weight: bold;	
    line-height: 24px;	
    text-align: center;
}
.currentStatusDetails{
    color: #000000;
    font-size: 16px;	
    line-height: 24px;	
    text-align: center;
}
.requestTypeCreatedParent{
    border-bottom: 1px solid #E3E3E3;
    border-top: 1px solid #E3E3E3;
}
.requestTypeCol{
    border-right: 1px solid #E3E3E3;    
    padding-right: 0px;
}
.requestTypeCreatedRow{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.requestTypeTitle, .createdOnTitle{
    padding-top: 10px;
    color: #000000;
    font-size: 17.5px;	
    font-weight: bold;	
    line-height: 24px;	
}
.requestTypeData, .createdOnData{
    padding-bottom: 14px;
    padding-top: 8px;
    color: #000000;	
    font-size: 16px;	
    line-height: 24px;	
}
.questionsCall{
    padding-top: 23px;
    padding-bottom: 25px;
    text-align: center;
    color: #262626;	
    font-size: 14px;	
    line-height: 16px;
}
.contactFormServiceRequest{
    outline: none;
    margin-left: 13px;
    border-bottom: 2px solid #7CC04B;
    padding-bottom: 0px;
    padding-right: 65px;
    line-height: 24px;
    padding-top: 5px;
    font-weight: 700;
    color: #000;
    font-size: 24px;
    border-top: none;
    margin-right: 8px;
    width: 97%;
    margin-top: 30px;
    border-left: none;
    border-right: none;
    -webkit-text-fill-color: #231F20 !important;
}

#collectionSearchService {
    right: 42px;
    top: 32px;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 42px;
    right: 34px;
    color: #7CC04B!important;
}
#serviceRequestClear{
    cursor: pointer;
    position: absolute;
    top: 43px;
    right: 69px;
    color: #7CC04B!important;
    font-size: 24px;
}
.exampleRidSearchService{
    margin-top: 8px;
    margin-left: 14px;
    color: #9B9B9B;
    font-size: 15px;
    line-height: 17px;
}
.errorServiceRequestTitle{
    padding-top: 110px;
    color: #000000;
    font-size: 17.5px;	
    font-weight: bold;	
    line-height: 24px;	
    text-align: center;
}
.errorServiceRequest{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 95px;
    border-bottom: 1px solid #E3E3E3;
    color: #000000;
    font-size: 16px;	
    line-height: 24px;	
    text-align: center;
}
@media only screen and (max-width: 599px) {
    .requestTypeCol{
        border-right: none;    
    }
    .errorServiceRequestTitle{
        padding-top: 80px;
    }
    .errorServiceRequest{
        padding-bottom: 75px;
    }
    .exampleRidSearchService{
        font-size: 13px;
    }
    #serviceRequestClear {
        cursor: pointer;
        position: absolute;
        top: 45px;
        right: 61px;
        color: #7CC04B!important;
        font-size: 24px;
    }
    .contactFormServiceRequest{
        outline: none;
        margin-left: 13px;
        border-bottom: 2px solid #7CC04B;
        padding-bottom: 0px;
        padding-right: 70px;
        line-height: 24px;
        padding-top: 5px;
        font-weight: 700;
        color: #000;
        font-size: 24px;
        border-top: none;
        margin-right: 8px;
        width: 94%;
        margin-top: 30px;
        border-left: none;
        border-right: none;
        -webkit-text-fill-color: #231F20 !important;
    }
    
    #collectionSearchService {
        right: 42px;
        top: 32px;
        cursor: pointer;
        font-size: 24px;
        position: absolute;
        top: 42px;
        right: 30px;
        color: #7CC04B!important;
    }
    .questionsCall{
        padding-left: 14px;
        padding-right: 15px;
    }
    .serviceRequestSearchTabletService {
        border-radius: 3px;
        padding-bottom: 11.2px;
        padding-left: 20px;
        border: 2px solid #EDEDEE;
        width: 100%;
        padding-top: 9px;
        margin-top: 19px;
    }
    .serviceRequestParentTabletService {
        height: auto;        
        padding-left: 11px;
        padding-right: 11px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        border-radius: 3px;
        margin-bottom: 17px;
        background-color: white;
        display: block;
    }
    .serviceRequestInputTabletService>.subSectionButton {
        margin-left: 0px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}    

@media (min-width: 500px) and (max-width: 959px) and (orientation: portrait){
    .errorServiceRequestTitle{
        padding-top: 80px;
    }
    .errorServiceRequest{
        padding-bottom: 75px;
    }
    .contactFormServiceRequest {
        padding-right: 70px;
    }
    .serviceRequestSearchTabletService {
        border-radius: 3px;
        padding-bottom: 11.2px;
        padding-left: 20px;
        border: 2px solid #EDEDEE;
        width: 520px;
        padding-top: 9px;
    }
}    
@media (min-width: 600px) and (max-width: 736px) and (orientation: landscape) {
    .requestTypeCol{
        border-right: none;    
    }
    .errorServiceRequestTitle{
        padding-top: 80px;
    }
    .errorServiceRequest{
        padding-bottom: 75px;
    }
    .exampleRidSearchService{
        font-size: 13px;
    }
    .contactFormServiceRequest {
        padding-right: 74px;
    }
    .serviceRequestSearchTabletService {
        border-radius: 3px;
        padding-bottom: 11.2px;
        padding-left: 20px;
        border: 2px solid #EDEDEE;
        width: 100%;
        padding-top: 9px;
        margin-top: 19px;
    }
    .serviceRequestParentTabletService {
        height: auto;                
        padding-left: 11px;
        padding-right: 11px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        border-radius: 3px;
        margin-bottom: 17px;
        background-color: white;
        display: block;
    }
    .serviceRequestInputTabletService>.subSectionButton {
        margin-left: 0px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}    
@media (min-width: 960px) and (max-width: 1284px){
    .errorServiceRequestTitle{
        padding-top: 80px;
    }
    .errorServiceRequest{
        padding-bottom: 75px;
    }
}    