.largeSearchBox .ridOfSearch,
.largeSearchBox .actual-edit-overlay {
    height: 33px;
    font-weight: 700;
    color: #000;
    font-size: 24px;
    border-top: none;
    margin-right: 8px;
    width: 97%;
    margin-top: 30px;
    border-left: none;
    border-right: none;
    -webkit-text-fill-color: #231F20 !important;
}

.largeSearchBox .searchContainerRidCollection{
    padding-top: 0;
}

.largeSearchBox .collectionSearchAutoComplete:focus{
    outline: none;
}

.largeSearchBox .collectionSearchAutoComplete{
    padding-right: 24px;
    height: 33px;
    font-weight: 700;
    color: #000;
    font-size: 18px;
    border-top: none;
    margin-right: 8px;
    width: 97%;
    margin-top: 29px;
    margin-left: 13px;
    border-bottom: 2px solid #7CC04B;
    border-left: none;
    border-right: none;
    -webkit-text-fill-color: #231F20 !important;
}

.contentLeft{
  width: 24%;
  vertical-align: top;
  display: inline-block;
}

.contentRight{
  width: 74%;
  float: right;
  display: inline-block;
}


.largeSearchBox #TextureSquare {
    width: 100%;
    height: 142px;
    padding: 10px;
    background: url('../images/Lightgreen.png')
}

.largeSearchBox #innersquare {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.ServicePage p{
  margin-top: 8px;
}

/* #collectionSearch{
  font-size: 24px;
  position: absolute;
  top: 44px;
  right: 41px;
  color: #7CC04B!important;
} */

@media only screen and (max-width: 991px) {
.col-md-4 .TitleContentCard{
    width: 100%!important;
  }
}

@media (min-width: 500px) and (max-width: 959px) and (orientation: portrait){
    .largeSearchBox #TextureSquare {
        width: 100%;
    }
    .largeSearchBox .searchContainerRidCollection {
        width: auto;
    }
}

@media (min-width: 600px) and (max-width: 736px) and (orientation: landscape) {
    .largeSearchBox #TextureSquare {
        height: 130px;
        width: 100%;
    }
}

@media only screen and (max-width: 599px) {
    .largeSearchBox .ridOfSearch,
    .largeSearchBox .actual-edit-overlay{
      width: 94%!important;
    }
    .largeSearchBox .searchCollectionParent{
      margin: 0;
      padding: 0
    }
    .largeSearchBox #TextureSquare {
        height: 130px;
        width: 100%;
    }
}


@media only screen and (max-width: 767px) {
  .contentLeft{
    width: auto;
    display: block;
  }
  .contentRight{
    width: auto;
    display: block;
  }
}
