.sectionHeader {
  height: 33px;
  color: #333333;
  font-family: "Helvetica Neue";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 20px;
}

.patternLineGreen {
  height: 10px;
  margin-top: 20px;
  margin-bottom: 25px;
  background: url('../images/Lightgreen.png');
}
