.sectionHeader {
  min-height: 33px;
  color: #333333;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 20px;
}

.greenSectionHeader{
    color: #015949;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 48px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.greenSectionHeaderForm{
  min-height: 33px;
  color: #00764D;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 20px;
}

.sectionHeaderFormSmallSize{
  min-height: 26px;
  color: #333333;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 20px;
}

.sectionHeaderInformationText{
  min-height: 26px;
  font-size: 14px;
  color: #333333;
  margin-top: 20px;
  padding-top:15px;
}

.patternLineGreen {
  height: 10px;
  margin-bottom: 30px;
  background: url('../images/Lightgreen.png');
}

.pullTwrdsEnd{
  float:right;
}

@media (max-width: 992px) {
    .pullTwrdsEnd{
        float: left;
    }
}