.subSectionHeaderImageTitleText {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.subSectionHeaderImagetitleBodyText {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  border: 10px solid white;
  overflow: hidden;
}

.subSectionHeaderImage {
  min-height: 65px;
  min-width: 190px;
  overflow: hidden;
  object-fit: cover;
  background-size: 100%;
}

.subSectionHeaderImagetitleBody {
  background-color: #FFFFFF;
  max-height: 226px;
  margin-bottom: 35px;
}


.subSectionHeaderImagetitleBody_EduMaterials {
  background-color: #FFFFFF;
  height: 226px;
  margin-bottom: 35px;
}
