.subSectionButton {
  font-size: 14px;
  height: 44px;
  width: 183px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 118, 77);
  border-radius: 0.188em;
  border: 0px;
  padding: 0.4em 1em;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 30px;
}


.subSectionButton:hover {
  background-color: #005949;
}

.subSectionButton:active {
  background-color: #005949;
  transform: translateY(2px);
  transition: 0.25s;
}

.subSectionButton:focus {
  background-color: #005949;
}

.subSectionButton:disabled {
  background-color: #EDEDEE;
  color: #9b9b9b;
  cursor: '';
}
