label.checkContainer{
  margin-top: 8px;
  margin-left: 0!important;
  cursor: pointer;
}

#form{
  margin-right: -8px;
  margin-left: -8px;
}

.form-group.has-feedback{
  margin-bottom: 0;
}

.formContent{
  line-height: 28px;
  color: #262626;
}

 /* Hide the browser's default checkbox */
 .checkContainer input {
     position: absolute;
     opacity: 0;
 }

 /* Create a custom checkbox */
 .checkmark {
     position: absolute;
     /*top: 0;
     left: 0;*/
     height: 20px;
     width: 20px;
     background-color: #FFFFFF;
     border: 1px solid #333333;
     border-radius: 3px;
 }

 .checkBoxText{
   margin-left: 30px;
 }


 /* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
     content: "";
     position: absolute;
     display: none;
 }

 /* Show the checkmark when checked */
 .checkContainer input:checked ~ .checkmark:after {
     display: block;
 }



 .disabledContactForm .checkContainer .input.error ~ .checkmark {
     border: 1px solid #D80035;
 }

 .disabledContactForm .checkContainer input:disabled ~ .checkmark {
     border: 1px solid #C4C9CD;
     cursor:not-allowed;
 }

 .disabledContactForm .checkContainer input:checked ~ .checkmark {
     display: block;
 }

 .disabledContactForm .checkContainer input:disabled:checked ~ .checkmark:after {
     border: solid #C4C9CD;
     border-width: 0 3px 3px 0;
     display: block;
     cursor:not-allowed;
 }

 /* Style the checkmark/indicator */
 .checkContainer .checkmark:after {
     left: 6px;
     top: 2px;
     width: 6px;
     height: 12px;
     border: 1px solid #333333;
     border-width: 0 3px 3px 0;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
 }

 .fa-plus-circle, .fa-minus-circle{
     margin: 12px 6px 0 0;
     color: #00764D;
     width: 28px;
     height: 28px;
     font-size: 28px;
     cursor: pointer;
     display: inline-block;
 }

 .MangeBinText{
    position: relative;
    bottom: 5px;
    margin-right: 40px;
   	font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #00764D;
    display: inline-block;
 }

 .decrement, .increment{
    cursor: pointer;
 }

 .MarnageIncDec{
   float:right;
   display:block;
 }

 .tableHeaderStepper.QuantityTitle{
   text-align: center;
 }

 .FormField .dropdown-toggle:hover,.FormField .dropdown-toggle:focus{
   background-color: transparent!important;
   box-shadow: none;
 }

 .IDSelector fieldset{
   width: 100%;
 }

/* date picker */
.react-datepicker {
  border: 1px solid #DFDFDF;
  font-size: 1em;
}
.react-datepicker-popper{
  margin-top: -12px !important;
  z-index: 5;
}
.react-datepicker-wrapper, .react-datepicker__input-container{
  width: 100%;
}
.react-datepicker__triangle{
  display: none;
}
.react-datepicker__header {
  background-color: transparent;
  border-bottom: none;
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}
.react-datepicker__day--keyboard-selected, .react-datepicker__day--selected{
  background-color: #7CC04B;
}
.react-datepicker__day--keyboard-selected:hover{
  background-color: #7CC04B;
}
.react-datepicker-wrapper .input-group{
  width: 100%;
  display: inline-block;
}
.react-datepicker-popper[data-placement^="top"]{
  position:absolute!important;
  top:15px!important;
}
.input-group-addon{
  border: none;
  background-color: transparent!important;
}
.glyphicon{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.react-datepicker-wrapper .input-group .form-control{
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
   cursor: pointer;
   z-index: 0;
}
#recpatcha{
  margin-top: 20px !important;
}
@media only screen and (max-width: 575px){
    .subSectionButton{
      width: 100%!important;
    }
    .formSubmitBtn{
      margin: 0 0 20px 0;
      width: 100%;
      display: block;
    }
    .formEditBtn{
      margin: 0 0 20px 0;
      width: 100%;
      display: block;
    }
}
/* date picker */

@media only screen and (max-width: 767px){
  .tableHeaderStepper.QuantityTitle{
    text-align: right;
  }
}
