downloads/pdf/promotional-materials
downloads/pdf/about/laws/*.pdf
downloads/pdf/about/inside-dsny/*.pdf
about/inside-dsny/*.pdf
downloads/pdf/about/internships/*.pdf
downloads/pdf/about/laws/*.m4a
downloads/pdf/about/newsletter/*.pdf
downloads/pdf/compost-project/*.pdf
downloads/pdf/golden-apple-awards/entries/*.pdf
downloads/pdf/contact/*.pdf
downloads/pdf/golden-apple-awards/*.pdf
downloads/pdf/recycling-and-garbage/*.pdf
downloads/pdf/stats/*.pdf
downloads/pdf/initiatives/*.pdf
downloads/pdf/operations/*.pdf
downloads/pdf/public-presentations/*.pdf
downloads/pdf/resources-for-schools/*.pdf
downloads/pdf/solid-waste-management/*.pdf
downloads/pdf/streets-and-sidewalks/*.pdf
downloads/pdf/studies-and-reports/2004-commercial-waste-management-study/*.pdf
downloads/pdf/studies-and-reports/*.pdf
downloads/video/*.mp4
downloads/word/*.doc
downloads/word/*.rtf
*.pdf
*.mp4
*.mov
