
.agencies-about-links {
  margin: 0 0 20px 0 !important; }

@media only screen and (min-width: 767px) {
a:hover {
  color: #5AC657 !important; 
  text-decoration:none;
  }
}

.subheader a:hover
{
  color: #fff !important; 
  text-decoration:none;

}

.agencies-about-links ul li a {
  padding: 20px 0;
  float: left;
  color:  #333;
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;  
  font-size: 16px; }

.agencies-about-links ul li.active a,.agencies-about-links ul li.active a:hover, .agencies-about-links ul li.active a:focus {
color: #379800 !important;
font-weight: bold;
text-decoration : none !important
 }

.agencies-about-links ul li a:hover{
color: #379800 !important;
font-weight: bold;
 }


.agencies-about-links ul > li:first-child {
  float: none;
  padding-top: 0 !important; }


.agencies-about-links ul li small {
  clear: left;
  float: left;
  width: 100%; }


.agencies-about-links ul {
  list-style: none;
  margin: -20px 0 0 0;
  padding-top: 0; 
  font-size: 16px;}


.agencies-about-links li {
  padding-right: 20px; }
