
    @media (min-width: 768px) and (max-width: 854px) {
         div.dataTables_filter input {
             width: 11em!important;
         }
        .clsstartdate {
            margin-right: 40px!important;
        }
        .clsenddate {
            margin-right: 34px!important;
        }
        #divfirst {
            margin-right: -20px!important;
        }
        #divthird {
            margin-left: 12px!important;
        }
        #divfourth {
            margin-left: 23px!important;
        }
    }

    div.dataTables_scrollBody thead td::after {
        display: none;
    }

    .input-sm {
        margin-bottom: 0 !important;
    }

    .dt-buttons {
        margin-top: 10px !important;
        float: right !important;
        width: 30% !important;
    }

    .toolbar {
        float: left;
        width: 75% !important;
        position: absolute !important;
    }

    .dataTables_filter {
        float: right !important;
        width: 25% !important;
    }

    .tabButton-Active {
        width: 100% !important;
    }

    .tabButton {
        width: 100% !important;
    }

    #slstartdate, #slenddate {
        font-size: 14px !important;
        height: 20px !important;
        font-weight: normal !important;
        border: 1px solid #ccc;
        box-shadow: none !important;
        width: 100% !important;
        float: right !important;
    }

    .input-group-addon {
        top: 7px !important;
        right: 12px !important;
    }

   .bootstrap-datetimepicker-widget.dropdown-menu {
        width: 19em !important;
        top: 35px !important;
        left: -14px !important;
    }

    #activeMemberDetail {
        border-right: 0 !important;
    }

    .buttons-csv, .buttons-excel {
        text-shadow: none !important;
        box-shadow: none !important;
        background-image: none !important;
        color: white !important;
        width: 26% !important;
        padding: 8px !important;
        background-color: #63c44d !important;
        border-radius: 0 !important;
        text-transform: none !important;
        border: 0 !important;
        font-weight: bold !important;
        margin-right: 0 !important;
        margin-left: 20px !important;
        text-align: center !important;
        float: right !important;
    }

        .buttons-csv:hover, .buttons-excel:hover {
            color: white !important;
            background-color: #686868 !important;
        }

    .table {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }




    .span-us {
        width: 16.9%;
        float: left;
        margin-right: 2.12766%;
        display: inline;
    }

    table.dataTable {
        margin-top: 10px !important;
    }

    .input-sm {
        height: 23px !important;
    }

    table.dataTable thead .sorting, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
        background: transparent;
    }

    table.dataTable thead .sorting_asc:after {
        content: "\f0de";
        margin-left: 10px;
        font-family: fontawesome;
    }

    table.dataTable thead .sorting_desc:after {
        content: "\f0dd";
        margin-left: 10px;
        font-family: fontawesome;
    }

    table.dataTable thead .sorting:after {
        margin-left: 10px;
        font-family: fontawesome;
    }

    .dataTables_wrapper {
        padding-bottom: 30px;
    }

    .table td {
        word-wrap: break-word;
    }
    .table {
        table-layout:fixed;
    }
